doctype html
head
    meta(charset='utf-8')
    title &#x67F3;&#x897F;&#x539F;&#x7684;&#x7A7A;&#x95F4;
    link(rel='icon', href='img/http-icon.png', type='png')
    link(href='stylesheets/album.css', type='text/css', rel='stylesheet')
.navigation
    .navigation1
        a.logo(href='center')
        a.person-center(href='center')
            img.person-center-img(src='img/center-small1.png')
            span.person-center-span &#x4E2A;&#x4EBA;&#x4E2D;&#x5FC3;
        a.myhomepage(href='homepage')
            img.myhomepage-img(src='img/center-small2.png')
            span.myhomepage-span &#x6211;&#x7684;&#x4E3B;&#x9875;
        a.goodfriend(href='#')
            img.goodfriend-img(src='img/center-small3.png')
            span.goodfriend-span QQ&#x624B;&#x673A;&#x7248;
        a.game(href='#')
            img.game-img(src='img/center-small4.png')
            span.game-span &#x6E38;&#x620F;
        a.game(href='#')
            img.game-img(src='img/center-small4.png')
            span.game-span &#x6E38;&#x620F;
        a.dress(href='#')
            img.dress-img(src='img/center-small5.png')
            span.dress-span &#x88C5;&#x626E;
        form(action='#', method='get')
            input.search-box(type='text', placeholder='用户/游戏/动态')
        a.exit(href='#', title='退出')
            img.exit-img(src='img/center-small6.png')
        a.setting(href='#', title='设置')
            img.setting-img(src='img/center-small7.png')
        a.yellow(href='#', title='空间活动')
            img.yellow-img(src='img/yellowz.gif')
        a.headpicture(href='#')
            img.headpicture-img(src='img/center-small9.jpg')
            span.headpicture-span &#x67F3;&#x897F;&#x539F;
.content
    // 导航栏以下全部，主要是表诉出大的背景图片
    span.whoseqzone &#x67F3;&#x897F;&#x539F;&#x7684;&#x7A7A;&#x95F4;
    a.thumbs-up-a(href='#', title='点赞')
        img.thumbs-up-img(src='img/thumb-up.png')
        span.thumbs-up-span 0
.small-nav
    // 主页日志等小导航栏
    img.head-img(src='img/head-picture.jpg')
    span.head-img-span &#x67F3;&#x897F;&#x539F;
    .small-nav-div
        ul.small-nav-ul
            li.small-nav-li
                a.small-nav-a(href='#') &#x4E3B;&#x9875;
            li.small-nav-li
                a.small-nav-a(href='homepage') &#x65E5;&#x5FD7;
            li.small-nav-li
                a.small-nav-a(href='#') &#x76F8;&#x518C;
            li.small-nav-li
                a.small-nav-a(href='#') &#x7559;&#x8A00;&#x677F;
            li.small-nav-li
                a.small-nav-a(href='#') &#x8BF4;&#x8BF4;
            li.small-nav-li
                a.small-nav-a(href='#') &#x4E2A;&#x4EBA;&#x6863;
            li.small-nav-li
                a.small-nav-a(href='#') &#x97F3;&#x4E50;
            li.small-nav-li
                a.small-nav-a(href='#') &#x66F4;&#x591A;
.personal-qzone
    // 个人中心的内容
    .j-body
        .js-container
            .js-nav-container
                .js-tab-list
                    ul
                        li &#x76F8;&#x518C;
                        li &#x7167;&#x7247;
                        li &#x89C6;&#x9891;
            img.album-img(src='img/album-img.jpg')
            // <img src="img/album-img.jpg" class="album-img"/>
