doctype html
head
    meta(charset='utf-8')
    title &#x8FFD;&#x68A6;&#x7684;&#x7A7A;&#x95F4;
    link(rel='icon', href='img/http-icon.png', type='png')
    link(href='stylesheets/center.css', type='text/css', rel='stylesheet')
.wrapper
    // 最大的容器
    .navigation
        // 导航栏
        .navigation1
            a.logo(href='center.html')
            a.person-center(href='#')
                img.person-center-img(src='imgl/center-small1.png')
                span.person-center-span &#x4E2A;&#x4EBA;&#x4E2D;&#x5FC3;
            a.myhomepage(href='#')
                img.myhomepage-img(src='imgl/center-small2.png')
                span.myhomepage-span &#x6211;&#x7684;&#x4E3B;&#x9875;
            a.goodfriend(href='#')
                img.goodfriend-img(src='imgl/center-small3.png')
                span.goodfriend-span &#x597D;&#x53CB;
            a.game(href='#')
                img.game-img(src='img/center-small4.png')
                span.game-span &#x6E38;&#x620F;
            a.game(href='#')
                img.game-img(src='imgl/center-small4.png')
                span.game-span &#x6E38;&#x620F;
            a.dress(href='#')
                img.dress-img(src='imgl/center-small5.png')
                span.dress-span &#x88C5;&#x626E;
            form(action='#', method='get')
                input.search-box(type='text', placeholder='用户/游戏/动态')
            a.exit(href='#', title='退出')
                img.exit-img(src='imgl/center-small6.png')
            a.setting(href='#', title='设置')
                img.setting-img(src='imgl/center-small7.png')
            a.yellow(href='#', title='空间活动')
                img.yellow-img(src='imgl/yellowz.gif')
            a.headpicture(href='#')
                img.headpicture-img(src='imgl/center-small9.jpg')
                span.headpicture-span &#x67F3;&#x897F;&#x539F;
        .content
            // 导航栏以下全部，主要是表诉出大的背景图片
            span.whoseqzone &#x67F3;&#x897F;&#x539F;&#x7684;&#x7A7A;&#x95F4;
            a.thumbs-up-a(href='#', title='点赞')
                img.thumbs-up-img(src='imgl/thumb-up.png')
                span.thumbs-up-span 0
            //
              <div class="and-div">
              </div>
            .personal-qzone
                // 个人中心的内容
                .personal-qzone-center
                    .left-nav
                        // 左边的导航栏
                        ul.left-nav-ul
                            li.left-nav-li
                                a.left-nav-a1(href='#')
                                    span &#x597D;&#x53CB;&#x52A8;&#x6001;
                            li.left-nav-li
                                a.left-nav-a(href='#')
                                    span &#x7279;&#x522B;&#x5173;&#x5FC3;
                            li.left-nav-li
                                a.left-nav-a2(href='#')
                                    span &#x4E0E;&#x6211;&#x76F8;&#x5173;
                            li.left-nav-li
                                a.left-nav-a3(href='#')
                                    span &#x7A7A;&#x95F4;&#x8FBE;&#x4EBA;
                            li.left-nav-li
                                a.left-nav-a4(href='#')
                                    span &#x90A3;&#x5E74;&#x4ECA;&#x65E5;
                            li.left-nav-li
                                a.left-nav-a5(href='#')
                                    span &#x817E;&#x8BAF;&#x8BFE;&#x5802;
                            li.left-nav-li
                                a.left-nav-a6(href='#')
                                    span &#x6E38;&#x620F;&#x5E94;&#x7528;
                    .middle
                        .qqmusic
                            a.qqmusic-a(href='#')
                                img(src='imgl/qqmusic.jpg')
                        .publish
                            form(action='#', method='get')
                                input.publish-input(type='text', placeholder='说点儿什么吧')
                            .camera
                                a(href='#')
                                    i.publish-i
                            .link
                                a(href='#')
                                    i.link-i
                        .middle-ad
                            .ad
                                span.middle-ad-span &#x5E7F;&#x544A;
                            a.ad-a(href='#')
                                img.middle-ad-img(src='imgl/adver3.jpg')
                                p.middle-ad-p &#x5F00;&#x59CB;&#x6E38;&#x620F;
                    .right
                        .avertisement1
                            a.avertisement1-a(href='#')
                                img(src='imgl/adver.jpg')
                        .avertisement2
                            a.avertisement12-a(href='#')
                                img(src='imgl/adver1.jpg')
                        .avertisement3
                            a.avertisement13-a(href='#')
                                img(src='imgl/adver2.jpg')
            .small-nav
                img.head-img(src='imgl/head-picture.jpg')
                img.threetoys-img(src='imgl/threetoys.png')
                span.head-img-span &#x67F3;&#x897F;&#x539F;
                .small-nav-div
                    ul.small-nav-ul
                        li.small-nav-li
                            a.small-nav-a(href='#') &#x4E3B;&#x9875;
                        li.small-nav-li
                            a.small-nav-a(href='#') &#x65E5;&#x5FD7;
                        li.small-nav-li
                            a.small-nav-a(href='#') &#x76F8;&#x518C;
                        li.small-nav-li
                            a.small-nav-a(href='#') &#x7559;&#x8A00;&#x677F;
                        li.small-nav-li
                            a.small-nav-a(href='#') &#x8BF4;&#x8BF4;
                        li.small-nav-li
                            a.small-nav-a(href='#') &#x4E2A;&#x4EBA;&#x6863;
                        li.small-nav-li
                            a.small-nav-a(href='#') &#x97F3;&#x4E50;
                        li.small-nav-li
                            a.small-nav-a(href='#') &#x66F4;&#x591A;
