doctype html
head
    meta(charset='utf-8')
    title &#x817E;&#x8BAF;
    // ABCmouse腾讯版-少儿英语学习|儿童英语在线|在线英语学习
    link(rel='icon', href='img/favicon.png', type='png')
    // 给网页添加icon图标
    link(href='stylesheets/Qzone.css', type='text/css', rel='stylesheet')
.wrapper
    // wrapper:包装器
    .mode-header
        // 标题栏
        .mode-header_logo
            // 标题栏logo
            img.logo-mobile-img(src='images/logo-mobile.png')
        .mode-header_link
            // 标题栏链接
            a.mode-header_link-a(href='ltj1') &#x4E0B;&#x8F7D;APP
            a.mode-header_link-a(href='#') &#x5F00;&#x59CB;&#x5B66;&#x4E60;
            a.mode-header_link-a(href='#') &#x7ACB;&#x5373;&#x8D2D;&#x4E70;
    .mode-banner
        // 横幅
        img.background-img(src='images/bg-image.png')
    .customer-service
        // 人工客服 固定定位
        // <img src="img/service_pc.png" class="customer-service-img" />
    .modules
        // 装所有模块的容器
        .section-study-idea
            // 第一个模块：4M智慧学习理念
            .one-one
                // one-one 1.1为第一个模块中的第一个小模块
                span.study-idea-span 4M&#x667A;&#x6167;&#x5B66;&#x4E60;&#x7406;&#x5FF5;
            .one-two
                span.mark1 &ldquo;
                span.text &#x6253;&#x9020;&#x6C89;&#x6D78;&#x5F0F;&#x82F1;&#x8BED;&#x542F;&#x8499;&#x73AF;&#x5883;
                span.mark2 &rdquo;
            .one-three
                // 放四个小圆圈
                img.four-circle(src='images/4m_pc.png')
            .one-four
                .one-four-showimage
                    img.one-four-img(src='images/pc_4m-picture.png')