doctype html
head
    meta(charset='utf-8')
    title 官方空间
    link(rel='stylesheet', type='text/css', href='/stylesheets/GFQQzone.css')
.div_big
    .div_daoh
        img.img_daoh(src='images/logo1.png')
    .div_daoh1
        a.a_zhuye
        span.span_daoh 他的主页
        a.a_zhuye1
        span.span_daoh 他的动态
    .div_music
        a.a_music1
        a.a_music2
    form(action='#', method='get')
        input(style='margin-left: 7px;margin-right: 7px')

        input(type='button', value='登入',style='border-radius: 15px;background-color: gold;padding-left: 10px;vertical-align: middle')
.div_three
    span.span_three
        ul.ul_three
            li 主页
            li 日志
            li 相册
            li 留言板
            li 说说
            li 个人档
            li 音乐
            li 更多
.div_big_tow_back
    .div_tow
        img(src='/images/100.png')
        .div_tow_text
            h2.h2_tow_text 官方Qzone
            img.img_gzkj(src='/images/profile-auth-adg160617151302.png')
            a.a_tow_fensi(href='#') 12796.7万粉丝
.div_four
    .div_Fsmall
        span.QQmusic QQ音乐
        .div_bgm
            a.a_bgm
            a.a_bgm_sousuo
            .div_xiangpian
                .div_tx1
                    a.bt_tx4(href='#', target='_blank') 开通绿钻豪华版
                    span.c_tx3
                        | 海量高品质音乐，背景音乐随心挑选&nbsp;&nbsp;&nbsp
                img.img_xiangpian(src='/images/banner_pass_all.jpg')
    p.p_xiaobianlan
        a.a_xiaobianlan(href='#', target='_blank') &#x7A7A;&#x95F4;&#x624B;&#x673A;&#x7248;
        | &#x9;&#x9;&#x9;&#x9;&nbsp
        a.a_xiaobianlan(href='#', target='_blank') &#x9EC4;&#x94BB;&#x8D35;&#x65CF;
        | &#x9;&#x9;&#x9;&#x9;&nbsp
        a.a_xiaobianlan(href='#', target='_blank') &#x5B98;&#x65B9;Qzone
        | &#x9;&#x9;&#x9;&#x9;&nbsp
        a.a_xiaobianlan(href='#', target='_blank') QQ&#x4E92;&#x8054;
        | &#x9;&#x9;&#x9;&#x9;&nbsp
        a.a_xiaobianlan(href='Tencent_class', target='_blank') &#x817E;&#x8BAF;&#x8BFE;&#x5802;
        | &#x9;&#x9;&#x9;&#x9;&nbsp
        a.a_xiaobianlan(href='#', target='_blank') &#x817E;&#x8BAF;&#x6587;&#x6863;
        | &#x9;&#x9;&#x9;&#x9;&nbsp
        a.a_xiaobianlan(href='#', target='_blank') &#x817E;&#x8BAF;&#x5BA2;&#x670D;
        | &#x9;&#x9;&#x9;&#x9;&nbsp
        a.a_xiaobianlan(href='#', target='_blank') QQ&#x7A7A;&#x95F4;&#x670D;&#x52A1;&#x534F;&#x8BAE;
        | &#x9;&#x9;&#x9;&#x9;&nbsp
        a.a_xiaobianlan(href='#', target='_blank') Complaint Guidelines
        | &#x9;&#x9;&#x9;&#x9;&nbsp
        a.a_xiaobianlan(href='#', target='_blank') &#x7CA4;&#x7F51;&#x6587;[2017]6138-1456&#x53F7;
    p.p_2
        | Copyright &copy; 2005 - 2019 Tencent.All Rights Reserved.
        br
        | &#x9;&#x9;&#x9;&#x817E;&#x8BAF;&#x516C;&#x53F8; &#x7248;&#x6743;&#x6240;&#x6709;
