doctype html
head
    meta(charset='utf-8')
    title Tencent ISUX Design
    link(rel='stylesheet', type='text/css', href='stylesheets/isux.css')
.content
    .hand
        img.logo_1(src='img66/logo01.PNG')
        ul
            li
                a.hand_text(href='#') AETICLES
            li
                a.hand_text(href='#') BRANDS
            li
                a.hand_text(href='#') RESOURCES
            li
                a.hand_text(href='#') CAREERS
        img.logo_2(src='img66/logo02.PNG')
    .middle
        .tu_1
            img.box(src='img66/344_b_src.jpg', ;='')
        .tu_211
            img.box(src='img66/347_a.jpg')
    .box1
        .tu_2
            img.box(src='img66/xiomg.PNG')
        .xing
            ul
                li
                    .tu_3
                        img.box(src='img66/343_a_src.jpg', width='423px', height='423px')
                li
                    .tu_3
                        img.box(src='img66/345_a_src.jpg', width='423px', height='423px')
                li
                    .tu_4
                        img.box(src='img66/346_b_src.jpg')
    .tuceng3
        .tu_3
            img.box(src='img66/338_a_src.jpg', width='423px', height='423px')
        .tu_3
            img.box(src='img66/340_a_src.jpg', width='423px', height='423px')
        .tu_3
            img.box(src='img66/341_a_src.jpg', width='423px', height='423px')
    .tuceng4
        img(src='img66/button.PNG')
    .last
        ul
            li
                a.hand_text(href='#') TENCENT
            li
                a.hand_text(href='#') QQfamily
            li
                a.hand_text(href='#') YCG
        ul
            li
                a.hand_text1(href='#') Copyright &copy; 1998 - 2019 Tencent Inc. All Rights Reserved.
