doctype html
head
    meta(charset='utf-8')
    title
    link(href='/stylesheets/ltj2.css', type='text/css', rel='stylesheet')
.toubu2_big_div
    .toubu2_wenzibufen_div
        h1.toubu2_logo_h1
        .toubu2_xiaozi_div
            a.toubu2_xiaozi_neirong(href='#') &#x9996;&#x9875;
            a.toubu2_xiaozi_neirong(href='#') &#x5E74;&#x8D39;&#x9EC4;&#x94BB;
            a.toubu2_xiaozi_neirong(href='#') &#x6E38;&#x620F;&#x7279;&#x6743;
            a.toubu2_xiaozi_neirong(href='#') &#x7279;&#x6743;&#x4E0E;&#x7B49;&#x7EA7;
            a.toubu2_xiaozi_neirong(href='#') &#x9EC4;&#x94BB;&#x6D3B;&#x52A8;
            a.toubu2_xiaozi_neirong(href='#') &#x9EC4;&#x94BB;&#x8C6A;&#x534E;&#x7248;
        .toubu2_denglu_div
            .toubu2_denglu_main
                span.toubu2_denglu_wenziqian
                    span &#x60A8;&#x8FD8;&#x6CA1;&#x6709;&#x767B;&#x5F55;&#xFF0C;
                    a.toubu2_denglu_wenzihou(href='#') &#x9A6C;&#x4E0A;&#x767B;&#x5F55;
                .toubu2_huangsekuang_div
                    .toubu2_huangsekuang2_div
                        .toubu2_huangsekuang_wenzikuang
                            i.info_background
                            .toubu2_huangsekuang_wenzikuang2
                                button.toubu2_huangsekuang_wenzikuang_denglu
                                    i.toubu2_huangsekuang_wenzikuang_denglubiaozhi
                                    span &#x7528;&#x6237;&#x767B;&#x5F55;
                                button.toubu2_huangsekuang_wenzikuang_kaitong
                                    i.toubu2_huangsekuang_wenzikuang_kaitongbiaozhi
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x5F00;&#x901A;&#x9EC4;&#x94BB;
                            .toubu2_huangsekuang_xiamian_div
                                p.toubu2_huangsekuang_xiamian_wenziqian
                                    a.toubu2_huangsekuang_xiamian_wenzihou(href='#')
                                        span &#x67E5;&#x770B;&#x6240;&#x6709;
                                        i.toubu2_huangsekuang_xiamian_wenzihoujiantou
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9EC4;&#x94BB;&#x8D35;&#x65CF;&#x4E3A;&#x60A8;&#x63D0;&#x4F9B;&#xFF1A;
                                .toubu2_huangsekuang_xiamian_tubiao
                                    a.toubu2_huangsekuang_xiamian_tubiaokuang(href='#')
                                        i.toubu2_huangsekuang_xiamian_tubiao_1
                                        span &#x88C5;&#x626E;&#x7279;&#x6743;
                                    a.toubu2_huangsekuang_xiamian_tubiaokuang(href='#')
                                        i.toubu2_huangsekuang_xiamian_tubiao_2
                                        span &#x529F;&#x80FD;&#x7279;&#x6743;
                                    a.toubu2_huangsekuang_xiamian_tubiaokuang(href='#')
                                        i.toubu2_huangsekuang_xiamian_tubiao_3
                                        span &#x751F;&#x6D3B;&#x7279;&#x6743;
                                    a.toubu2_huangsekuang_xiamian_tubiaokuang(href='#')
                                        i.toubu2_huangsekuang_xiamian_tubiao_4
                                        span &#x6E38;&#x620F;&#x7279;&#x6743;
.zhongbu2_big_div
    .zhongbu2_lb_show_width
        .zhongbu2_lb_div
            a(href='#')
                img(src='img/bj4.jpg')
                img(src='img/bj5.jpg')
.zhongbu2_xiamian_big
    .zhongbu2_xiamian
        .zhongbu2_xiamian_tequanzhuangban
            .zhongbu2_xiamian_tequanzhuangban_biaoti
                .zhongbu2_xiamian_tequanzhuangban_biaotineirong
            .zhongbu2_xiamian_tequanzhuangban_tupiandakuai
                .zhongbu2_xiamian_tequanzhuangban_tupianzhongkuai
                    .zhongbu2_xiamian_tequanzhuangban_tupianxiaokuai
                        ul
                            li.zhongbu2_xiamian_tequanzhuangban_tupiankuai
                                a.zhongbu2_xiamian_tequanzhuangban_tupian(href='#', title='怎么从良', target='_blank')
                                    img(src='img/zb1.gif', alt='怎么从良', width='280', height='170')
                                .zhongbu2_xiamian_tequanzhuangban_tupianwenzi
                                    h3 &#x600E;&#x4E48;&#x4ECE;&#x826F;
                                    p 7793600&#x4EBA; &#x5728;&#x7A7F;
                            li.zhongbu2_xiamian_tequanzhuangban_tupiankuai
                                a.zhongbu2_xiamian_tequanzhuangban_tupian(href='#', title='艰难过一生', target='_blank')
                                    img(src='img/zb2.gif', alt='艰难过一生', width='280', height='170')
                                .zhongbu2_xiamian_tequanzhuangban_tupianwenzi
                                    h3 &#x8270;&#x96BE;&#x8FC7;&#x4E00;&#x751F;
                                    p 5626302&#x4EBA; &#x5728;&#x7A7F;
                            li.zhongbu2_xiamian_tequanzhuangban_tupiankuai
                                a.zhongbu2_xiamian_tequanzhuangban_tupian(href='#', title='大人讲利弊', target='_blank')
                                    img(src='img/zb3.gif', alt='大人讲利弊', width='280', height='170')
                                .zhongbu2_xiamian_tequanzhuangban_tupianwenzi
                                    h3 &#x5927;&#x4EBA;&#x8BB2;&#x5229;&#x5F0A;
                                    p 1562301&#x4EBA; &#x5728;&#x7A7F;
                            li.zhongbu2_xiamian_tequanzhuangban_tupiankuai
                                a.zhongbu2_xiamian_tequanzhuangban_tupian(href='#', title='海鸟', target='_blank')
                                    img(src='img/zb4.gif', alt='海鸟', width='280', height='170')
                                .zhongbu2_xiamian_tequanzhuangban_tupianwenzi
                                    h3 &#x6D77;&#x9E1F;
                                    p 1889912&#x4EBA; &#x5728;&#x7A7F;
    .zhongbu2_xiamian_youxitequan
        .zhongbu2_xiamian_youxitequan_biaoti
            .zhongbu2_xiamian_youxitequan_biaotineirong
                | &#x6E38;&#x620F;&#x7279;&#x6743;&#xFF0C;20000Q&#x5E01;&#x793C;&#x5305;&#x3002;100&#x591A;&#x9879;&#x6D3B;&#x52A8;&#xFF01;&#x9EC4;&#x94BB;&#x73A9;&#x6E38;&#x620F;&#xFF0C;&#x6709;&#x7528;&#xFF01;
            a.zhongbu2_xiamian_youxitequan_biaotineirong_gengduo(href='#')
                span &#x66F4;&#x591A;
                i.zhongbu2_xiamian_youxitequan_biaotineirong_gengduojiantou
        .zhongbu2_xiamian_youxitequan_tupiandakuai
            .zhongbu2_xiamian_youxitequan_tupianzhongkuai
                .zhongbu2_xiamian_youxitequan_tupianxiaokuai
                    ul
                        li.zhongbu2_xiamian_youxitequan_tupiankuai
                            a.zhongbu2_xiamian_youxitequan_tupian(href='#', title='福利大派送', target='_blank')
                                img(src='img/yx1.jpg', alt='福利大派送')
                                span.zhongbu2_xiamian_youxitequan_tupianwenzi &#x798F;&#x5229;&#x5927;&#x6D3E;&#x9001;
                        li.zhongbu2_xiamian_youxitequan_tupiankuai
                            a.zhongbu2_xiamian_youxitequan_tupian(href='#', title='超级福利 绝版永久限时领', target='_blank')
                                img(src='img/yx2.jpg', alt='超级福利 绝版永久限时领')
                                span.zhongbu2_xiamian_youxitequan_tupianwenzi &#x8D85;&#x7EA7;&#x798F;&#x5229; &#x7EDD;&#x7248;&#x6C38;&#x4E45;&#x9650;&#x65F6;&#x9886;
    .zhongbu2_xiamian_gongnengtequan
        .zhongbu2_xiamian_gongnengtequan_biaoti
            .zhongbu2_xiamian_gongnengtequan_biaotineirong
                | &#x529F;&#x80FD;&#x7279;&#x6743;&#xFF0C;&#x66F4;&#x5927;&#x76F8;&#x518C;&#x5BB9;&#x91CF;&#xFF0C;&#x4E30;&#x5BCC;&#x65E5;&#x5FD7;&#x4FE1;&#x7EB8;&#xFF0C;&#x6570;&#x5341;&#x79CD;&#x4F7F;&#x7528;&#x7279;&#x6743;&#xFF01;
            .zhongbu2_xiamian_gongnengtequan_tupiandakuai
                .zhongbu2_xiamian_gongnengtequan_tupianzhongkuai
                    .zhongbu2_xiamian_gongnengtequan_tupianxiaokuai
                        ul
                            li.zhongbu2_xiamian_gongnengtequan_tupiankuai
                                a.zhongbu2_xiamian_gongnengtequan_tupian(href='#', title='黄钻微云特权', target='_blank')
                                    img(src='img/gn1.jpg', alt='黄钻微云特权')
                                span.zhongbu2_xiamian_gongnengtequan_tupianwenzi &#x9EC4;&#x94BB;&#x5FAE;&#x4E91;&#x7279;&#x6743;
                            li.zhongbu2_xiamian_gongnengtequan_tupiankuai
                                a.zhongbu2_xiamian_gongnengtequan_tupian(href='#', title='黄钻隐身特权', target='_blank')
                                    img(src='img/gn2.jpg', alt='黄钻隐身特权')
                                span.zhongbu2_xiamian_gongnengtequan_tupianwenzi &#x9EC4;&#x94BB;&#x9690;&#x8EAB;&#x7279;&#x6743;
                            li.zhongbu2_xiamian_gongnengtequan_tupiankuai
                                a.zhongbu2_xiamian_gongnengtequan_tupian(href='#', title='黄钻生活特权', target='_blank')
                                    img(src='img/gn3.jpg', alt='黄钻生活特权')
                                span.zhongbu2_xiamian_gongnengtequan_tupianwenzi &#x9EC4;&#x94BB;&#x751F;&#x6D3B;&#x7279;&#x6743;
                    .zhongbu2_xiamian_gongnengtequan_youbiandakuai
                        .zhongbu2_xiamian_gongnengtequan_youbianxiaokuai
                            ul
                                li.zhongbu2_xiamian_gongnengtequan_youbiankuai1
                                    a.zhongbu2_xiamian_gongnengtequan_youbiankuaineirong(href='#', title='尊贵身份', target='_blank')
                                        img.zhongbu2_xiamian_gongnengtequan_youbiankuaitupian(src='img/xiao1.png', alt='尊贵身份')
                                        p.zhongbu2_xiamian_gongnengtequan_youbiankuazi &#x5C0A;&#x8D35;&#x8EAB;&#x4EFD;
                                li.zhongbu2_xiamian_gongnengtequan_youbiankuai2
                                    a.zhongbu2_xiamian_gongnengtequan_youbiankuaineirong(href='#', title='游戏特权', target='_blank')
                                        img.zhongbu2_xiamian_gongnengtequan_youbiankuaitupian(src='img/xiao2.png', alt='尊贵身份')
                                        p.zhongbu2_xiamian_gongnengtequan_youbiankuazi &#x6E38;&#x620F;&#x7279;&#x6743;
                                li.zhongbu2_xiamian_gongnengtequan_youbiankuai1
                                    a.zhongbu2_xiamian_gongnengtequan_youbiankuaineirong(href='#', title='装扮特权', target='_blank')
                                        img.zhongbu2_xiamian_gongnengtequan_youbiankuaitupian(src='img/xiao3.png', alt='尊贵身份')
                                        p.zhongbu2_xiamian_gongnengtequan_youbiankuazi &#x88C5;&#x626E;&#x7279;&#x6743;
                                li.zhongbu2_xiamian_gongnengtequan_youbiankuai2
                                    a.zhongbu2_xiamian_gongnengtequan_youbiankuaineirong(href='#', title='更多特权', target='_blank')
                                        img.zhongbu2_xiamian_gongnengtequan_youbiankuaitupian(src='img/xiao4.png', alt='尊贵身份')
                                        p.zhongbu2_xiamian_gongnengtequan_youbiankuazi &#x66F4;&#x591A;&#x7279;&#x6743;
.footer
    .footer_shangbutupian
        a.footer_shangbutupian_zuo(href='#', title='qq空间')
        a.footer_shangbutupian_you(href='#', title='腾讯公司')
    .footer_xiamianbeijing
        a(href='#', title='关于腾讯', target='_blank') &#x5173;&#x4E8E;&#x817E;&#x8BAF;
        |  |
        a(href='#', title='About Tencent', target='_blank') About Tencent
        |  |
        a(href='#', title='服务条款', target='_blank') &#x670D;&#x52A1;&#x6761;&#x6B3E;
        |  |
        a(href='#', title='广告服务', target='_blank') &#x5E7F;&#x544A;&#x670D;&#x52A1;
        |  |
        a(href='#', title='商务洽谈', target='_blank') &#x5546;&#x52A1;&#x6D3D;&#x8C08;
        |  |
        a(href='#', title='腾讯招聘', target='_blank') &#x817E;&#x8BAF;&#x62DB;&#x8058;
        |  |
        a(href='#', title='招聘公益', target='_blank') &#x62DB;&#x8058;&#x516C;&#x76CA;
        |  |
        a(href='#', title='客服中心', target='_blank') &#x5BA2;&#x670D;&#x4E2D;&#x5FC3;
        |  |
        a(href='#', title='网站导航', target='_blank') &#x7F51;&#x7AD9;&#x5BFC;&#x822A;
        |  |
        a(href='#', title='版权所有', target='_blank') &#x7248;&#x6743;&#x6240;&#x6709;
        |  |
        a(href='#', title='ABCmouse腾讯版', target='_blank') ABCmouse&#x817E;&#x8BAF;&#x7248;
        |  |
    div
        | Copyright &copy; 1998 - 2019 Tencent.
        a(target='new', href='#') All Rights Reserved
        | .
