doctype html
head
    meta(charset='utf-8')
    title &#x7A7A;&#x95F4;&#x6E38;&#x620F;&#x5E94;&#x7528;&#x4E2D;&#x5FC3;
    link(href='stylesheets/qqgamecss.css', type='text/css', rel='stylesheet')
.background_1
    .toolbar_top
        .toolbar_top1
            a(href='#')
                .qqzone_logo
            .toolbar_top1_uldiv
                ul.toolbar_top1_ul
                    li
                        a(href='#', title='个人中心')
                            .personcenter
                            span &#x4E2A;&#x4EBA;&#x4E2D;&#x5FC3;
                    li
                        a(href='#', title='主页')
                            .mainpage
                            span &#x4E3B;&#x9875;
                    li
                        a(href='#', title='好友')
                            .friends
                            span &#x597D;&#x53CB;
                    li
                        a(href='#', title='游戏')
                            .games
                            span &#x6E38;&#x620F;
                    li
                        a(href='#', title='装扮')
                            .decoration
                            span &#x88C5;&#x626E;
                    li.quick_logoin
                        a(href='#', title='QQ快速登录') QQ&#x5FEB;&#x901F;&#x767B;&#x5F55;
        .toolbar_top2
            a(href='#')
                .gamecenter_logo
            .toolbar_top2_uldiv
                ul.toolbar_top2_ul
                    li
                        a(href='#', title='首页') &#x9996;&#x9875;
                    li
                        a(href='#', title='找游戏') &#x627E;&#x6E38;&#x620F;
                    li.restapp
                        a(href='#', title='休闲应用') &#x4F11;&#x95F2;&#x5E94;&#x7528;
                        .window
                            ul
                                li
                                    a(href='#') &#x793E;&#x4EA4;
                                li
                                    a(href='#') &#x5DE5;&#x5177;
                                li
                                    a(href='#') &#x5A31;&#x4E50;
                                li
                                    a(href='#') &#x751F;&#x6D3B;
                    li
                        a(href='#', title='个人中心') &#x4E2A;&#x4EBA;&#x4E2D;&#x5FC3;
            .search
                form
                    input(type='search', placeholder='搜索喜欢的游戏应用')
        .menu
            .menu_left
                .headpic
                ul
                    li
                        a(href='#', title='QQ农场')
                            // <div class="gamepic_left"></div>
                            span.img_1
                                img(src='/img/farml.png')
                            span.game_name
                                span.name_1 QQ&#x519C;&#x573A;
                                br
                                span.name_type &#x7ECF;&#x5178;&#x517B;&#x6210;
                            span.enterbutton &#x8FDB;&#x5165;&#x6E38;&#x620F;
                    li
                        a(href='#', title='QQ农场')
                            // <div class="gamepic_left"></div>
                            span.img_1
                                img(src='img/farml.png')
                            span.game_name
                                span.name_1 QQ&#x519C;&#x573A;
                                br
                                span.name_type &#x7ECF;&#x5178;&#x517B;&#x6210;
                            span.enterbutton &#x8FDB;&#x5165;&#x6E38;&#x620F;
                    li
                        a(href='#', title='QQ农场')
                            // <div class="gamepic_left"></div>
                            span.img_1
                                img(src='img/farml.png')
                            span.game_name
                                span.name_1 QQ&#x519C;&#x573A;
                                br
                                span.name_type &#x7ECF;&#x5178;&#x517B;&#x6210;
                            span.enterbutton &#x8FDB;&#x5165;&#x6E38;&#x620F;
                    li
                        a(href='#', title='QQ农场')
                            // <div class="gamepic_left"></div>
                            span.img_1
                                img(src='img/farml.png')
                            span.game_name
                                span.name_1 QQ&#x519C;&#x573A;
                                br
                                span.name_type &#x7ECF;&#x5178;&#x517B;&#x6210;
                            span.enterbutton &#x8FDB;&#x5165;&#x6E38;&#x620F;
            .menu_mid
                .show_box
                    .show_img
                        img(src='img/fisher.jpg')
                        img(src='img/sanguo.jpg')
                        img(src='img/sanguoer.jpg')
                        img(src='img/godlike.jpg')
                .hotgame
                    span.hottext &#x70ED;&#x95E8;&#x6E38;&#x620F;
                    a.hottext2(href='#') &#x66F4;&#x591A;
                .mid_pic
                    a.pic_a_1(href='#')
                        .mid_pic1
                            .mid_pic_div
                                span.mid_pic_name1 &#x4ED9;&#x8C15;
                                br
                                span.mid_pic_name2 &#x5168;&#x6C11;&#x4FEE;&#x4ED9;&#xFF0C;&#x4E3B;&#x5BB0;&#x4E09;&#x754C;&#x4E07;&#x7269;
                    a(href='#')
                        .mid_pic2
                            .mid_pic_div
                                span.mid_pic_name1 &#x4ED9;&#x8C15;
                                br
                                span.mid_pic_name2 &#x5168;&#x6C11;&#x4FEE;&#x4ED9;&#xFF0C;&#x4E3B;&#x5BB0;&#x4E09;&#x754C;&#x4E07;&#x7269;
                    a(href='#')
                        .mid_pic3
                            .mid_pic_div
                                span.mid_pic_name1 &#x4ED9;&#x8C15;
                                br
                                span.mid_pic_name2 &#x5168;&#x6C11;&#x4FEE;&#x4ED9;&#xFF0C;&#x4E3B;&#x5BB0;&#x4E09;&#x754C;&#x4E07;&#x7269;
            .menu_right
                .right_top
                    ul.right_top_ul
                        li.weekhot
                            a.hotgame_a(href='#') &#x4E00;&#x5468;&#x6700;&#x70ED;
                        li.new_game
                            a.new_game_a(href='#') &#x65B0;&#x54C1;&#x63A8;&#x8350;
                            //
                              <div class="right_right">
                              <ul class="game_rank2">
                              <li class="rank_1">
                              <a href="#" title="QQ牧场">
                              <span class="rank_value">1</span>
                              <span class="img_2"><img src="img/farml.png" /></span>
                              <span class="game_name">
                              <span class="name_1">QQ牧场</span><br />
                              <span class="name_type_right">经典养成</span>
                              </span>
                              </a>
                              </li>
                              <li>
                              <a href="#" title="QQ牧场">
                              <span class="rank_value">2</span>
                              <span class="img_2"><img src="img/farml.png" /></span>
                              <span class="game_name">
                              <span class="name_1">QQ牧场</span><br />
                              <span class="name_type_right">经典养成</span>
                              </span>
                              </a>
                              </li>
                              <li>
                              <a href="#" title="QQ牧场">
                              <span class="rank_value">3</span>
                              <span class="img_2"><img src="img/farml.png" /></span>
                              <span class="game_name">
                              <span class="name_1">QQ牧场</span><br />
                              <span class="name_type_right">经典养成</span>
                              </span>
                              </a>
                              </li>
                              <li>
                              <a href="#" title="QQ牧场">
                              <span class="rank_value">4</span>
                              <span class="img_2"><img src="img/farml.png" /></span>
                              <span class="game_name">
                              <span class="name_1">QQ牧场</span><br />
                              <span class="name_type_right">经典养成</span>
                              </span>
                              </a>
                              </li>
                              <li>
                              <a href="#" title="QQ牧场">
                              <span class="rank_value">5</span>
                              <span class="img_2"><img src="img/farml.png" /></span>
                              <span class="game_name">
                              <span class="name_1">QQ牧场</span><br />
                              <span class="name_type_right">经典养成</span>
                              </span>
                              </a>
                              </li>
                              <li>
                              <a href="#" title="QQ牧场">
                              <span class="rank_value">6</span>
                              <span class="img_2"><img src="img/farml.png" /></span>
                              <span class="game_name">
                              <span class="name_1">QQ牧场</span><br />
                              <span class="name_type_right">经典养成</span>
                              </span>
                              </a>
                              </li>
                              <li>
                              <a href="#" title="QQ牧场">
                              <span class="rank_value">7</span>
                              <span class="img_2"><img src="img/farml.png" /></span>
                              <span class="game_name">
                              <span class="name_1">QQ牧场</span><br />
                              <span class="name_type_right">经典养成</span>
                              </span>
                              </a>
                              </li>
                              <li>
                              <a href="#" title="QQ牧场">
                              <span class="rank_value">8</span>
                              <span class="img_2"><img src="img/farml.png" /></span>
                              <span class="game_name">
                              <span class="name_1">QQ牧场</span><br />
                              <span class="name_type_right">经典养成</span>
                              </span>
                              </a>
                              </li>
                              </ul>
                              </div>
                            .right_left
                                ul.game_rank
                                    li.rank_1
                                        a(href='#', title='QQ农场')
                                            span.rank_value 1
                                            span.img_2
                                                img(src='img/farml.png')
                                            span.game_name
                                                span.name_1 QQ&#x519C;&#x573A;
                                                br
                                                span.name_type_right &#x7ECF;&#x5178;&#x517B;&#x6210;
                                    li
                                        a(href='#', title='QQ农场')
                                            span.rank_value 2
                                            span.img_2
                                                img(src='img/farml.png')
                                            span.game_name
                                                span.name_1 QQ&#x519C;&#x573A;
                                                br
                                                span.name_type_right &#x7ECF;&#x5178;&#x517B;&#x6210;
                                    li
                                        a(href='#', title='QQ农场')
                                            span.rank_value 3
                                            span.img_2
                                                img(src='img/farml.png')
                                            span.game_name
                                                span.name_1 QQ&#x519C;&#x573A;
                                                br
                                                span.name_type_right &#x7ECF;&#x5178;&#x517B;&#x6210;
                                    li
                                        a(href='#', title='QQ农场')
                                            span.rank_value 4
                                            span.img_2
                                                img(src='img/farml.png')
                                            span.game_name
                                                span.name_1 QQ&#x519C;&#x573A;
                                                br
                                                span.name_type_right &#x7ECF;&#x5178;&#x517B;&#x6210;
                                    li
                                        a(href='#', title='QQ农场')
                                            span.rank_value 5
                                            span.img_2
                                                img(src='img/farml.png')
                                            span.game_name
                                                span.name_1 QQ&#x519C;&#x573A;
                                                br
                                                span.name_type_right &#x7ECF;&#x5178;&#x517B;&#x6210;
                                    li
                                        a(href='#', title='QQ农场')
                                            span.rank_value 6
                                            span.img_2
                                                img(src='img/farml.png')
                                            span.game_name
                                                span.name_1 QQ&#x519C;&#x573A;
                                                br
                                                span.name_type_right &#x7ECF;&#x5178;&#x517B;&#x6210;
                                    li
                                        a(href='#', title='QQ农场')
                                            span.rank_value 7
                                            span.img_2
                                                img(src='img/farml.png')
                                            span.game_name
                                                span.name_1 QQ&#x519C;&#x573A;
                                                br
                                                span.name_type_right &#x7ECF;&#x5178;&#x517B;&#x6210;
                                    li
                                        a(href='#', title='QQ农场')
                                            span.rank_value 8
                                            span.img_2
                                                img(src='img/farml.png')
                                            span.game_name
                                                span.name_1 QQ&#x519C;&#x573A;
                                                br
                                                span.name_type_right &#x7ECF;&#x5178;&#x517B;&#x6210;
