head
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='/stylesheets/QQphone.css')
    script(type='text/javascript', src='/javascripts/local.js')
    title I&apos;m QQ - &#x6BCF;&#x4E00;&#x5929;&#xFF0C;&#x4E50;&#x5728;&#x6C9F;&#x901A;
#dowebok.fullpage-wrapper(style='height: 100%; position: relative; touch-action: none; transform: translate3d(0px, 0px, 0px); transition: all 700ms ease 0s;')
    .section.page1.fp-section.fp-table.active(style='height: 510px;')
        .fp-tableCell(style='height: 510px;')
            #topbar.topbar
                .toppic
                    .topside
                        strong.logoLink im.qq.com
                    .topTool
                        ul(style='margin-top:15px;font-size: 25px;')
                            li#topmore.more
                                a(href='service') 腾讯客服
                                #morePenel.morePenel(style='display: none;')
                                    span.trg
                                    .moredrop
                                        a(href='#', target='_blank') QQ&#x5B98;&#x7F51;&#x9996;&#x9875;
                                        a(href='#', target='_blank') &#x4EA7;&#x54C1;&#x4E0B;&#x8F7D;
                                        a(href='#', target='_blank') QQ&#x4F1A;&#x5458;
                                        a(href='#', target='_blank') &#x5B89;&#x5168;&#x4E2D;&#x5FC3;
                            li
                                a(href='qqsafe', target='_blank') 安全中心
                            li#loginInfo.logined
                                a#login(pgv='im.mobileqq5_4.login', href='#', style='display: none;') &#x767B;&#x5F55;
                                img#loginImg(src='images/025e050dac824f9d9a8553324ed98efa!400x400.jpeg', alt='')
                                #loginPenel.loginPenel
                                    span.trg
                                    .logindrop
                                        #nick.nick hi,&#xFE4C;&#x5E26;&#x8D31;&#x4E66;&#x751F;&#x4E36;
                                        .lgout
                                            a#lgout(href='#') [&#x9000;&#x51FA;]
            .fig01(style='background-image: url(images/20190523152318_0fe3cb.png)')
                .content
                    .verbar(style='background: url(images/20190823184301_e4fb1f.png) no-repeat center;background-size: contain;')
                    a#downtouch.downbtn(href='#')
                        .btn-normal(style='background-image: url(images/20190423215445_47bc6c.png)')
                        .btn-click(style='background-image: url(images/20190423215445_47bc6c.png)')
                    .content-img.home-indent(style='background-image: url(images/20190521211423_46fe95.png)')
    .section.page-end.fp-section.fp-table(style='height: 510px;')
        .fp-tableCell(style='height: 510px;')
            .fig(style='background-image: url(images/20190823184500_34f529.jpg)')
                .content
                    .wenzi(style='background-image:  url(images/20190823184508_e4fb1f.png)')
                    .content-img.phone(style='background-image: url(images/20190823184520_46fe95.png)')
    .section.page-end.fp-section.fp-table(style='height: 510px;')
        .fp-tableCell(style='height: 510px;')
            .fig(style='background-image: url(images/20190823184537_34f529.jpg)')
                .content
                    .wenzi(style='background-image:  url(images/20190827160315_c5bf90.png)')
                    .content-img.phone(style='background-image: url(images/20190823184559_46fe95.png)')
    .section.page-end.fp-section.fp-table(style='height: 510px;')
        .fp-tableCell(style='height: 510px;')
            .fig(style='background-image: url(images/20190823184623_34f529.jpg)')
                .content
                    .wenzi(style='background-image: url(images/20190827160326_66c59c.png)')
                    .content-img.phone(style='background-image: url(images/20190823184659_46fe95.png)')
    .section.page-end.fp-section.fp-table(style='height: 510px;')
        .fp-tableCell(style='height: 510px;')
            .fig(style='background-image: url(images/20190823184723_0fe3cb.png)')
                .content
                    .wenzi(style='background-image: url(images/20190827164657_34ffb0.png)')
                    .content-img.phone(style='background-image: url(images/20190823184740_46fe95.png)')
#overlay.overlay
#flashDiv
    .flashBar
        a#flashClose.close(href='#') &#x5173;&#x95ED;
    .flashBox
        #flashBox
            p
                a(href='#')
                    img(src='images/get_flash_player.gif', alt='Get Adobe Flash player')
