doctype html
head
    meta(charset='utf-8')
    title QQ&#x5B89;&#x5168;&#x4E2D;&#x5FC3;
    link(href='stylesheets/qqsafestyle.css', type='text/css', rel='stylesheet')
.top_background
    .top_bar
        .top_logo
            img(src='img/ico_logo.png')
        .top_right
            a(href='#') &#x53CD;&#x9988;&#x95EE;&#x9898;
            a(href='#') &#x624B;&#x673A;APP&#x4E0B;&#x8F7D;
            a(href='#') &#x767B;&#x5F55;
.mid_box
    ul.midbox_ul
        li.midbox_li1
            a(href='#')
                i.midbox1
                span(style='font-weight:900;color: black;') &#x5BC6;&#x7801;&#x7BA1;&#x7406;
                br
                span.boxtext &#x627E;&#x56DE;&#x3001;&#x4FEE;&#x6539;QQ&#x5BC6;&#x7801;&#xFF0C;&#x4ECE;&#x8FD9;&#x91CC;&#x5F00;&#x59CB;
        li.midbox_li2
            a(href='#')
                i.midbox2
                span(style='font-weight:900 ;color: black;') &#x5BC6;&#x7801;&#x7BA1;&#x7406;
                br
                span.boxtext &#x627E;&#x56DE;&#x3001;&#x4FEE;&#x6539;QQ&#x5BC6;&#x7801;&#xFF0C;&#x4ECE;&#x8FD9;&#x91CC;&#x5F00;&#x59CB;
        li.midbox_li3
            a(href='#')
                i.midbox3
                span(style='font-weight:900 ;color: black;') &#x5BC6;&#x7801;&#x7BA1;&#x7406;
                br
                span.boxtext &#x627E;&#x56DE;&#x3001;&#x4FEE;&#x6539;QQ&#x5BC6;&#x7801;&#xFF0C;&#x4ECE;&#x8FD9;&#x91CC;&#x5F00;&#x59CB;
.bottom_box
    ul.bottom_box_ul
        li
            a(href='#')
                i.bottom_box1
                span(style='font-weight:900 ;color: black;') &#x72EC;&#x7ACB;&#x5BC6;&#x7801;
                br
                span &#x5FD8;&#x8BB0;&#x72EC;&#x7ACB;&#x5BC6;&#x7801;&#x53EF;&#x91CD;&#x65B0;&#x8BBE;&#x7F6E;
        li
            a(href='#')
                i.bottom_box2
                span(style='font-weight:900 ;color: black;') &#x72EC;&#x7ACB;&#x5BC6;&#x7801;
                br
                span &#x5FD8;&#x8BB0;&#x72EC;&#x7ACB;&#x5BC6;&#x7801;&#x53EF;&#x91CD;&#x65B0;&#x8BBE;&#x7F6E;
        li
            a(href='#')
                i.bottom_box3
                span(style='font-weight:900 ;color: black;') &#x72EC;&#x7ACB;&#x5BC6;&#x7801;
                br
                span &#x5FD8;&#x8BB0;&#x72EC;&#x7ACB;&#x5BC6;&#x7801;&#x53EF;&#x91CD;&#x65B0;&#x8BBE;&#x7F6E;
        li
            a(href='#')
                i.bottom_box4
                span(style='font-weight:900 ;color: black;') &#x72EC;&#x7ACB;&#x5BC6;&#x7801;
                br
                span &#x5FD8;&#x8BB0;&#x72EC;&#x7ACB;&#x5BC6;&#x7801;&#x53EF;&#x91CD;&#x65B0;&#x8BBE;&#x7F6E;
