doctype html
head
    meta(charset='utf-8')
    title QQ&#x7A7A;&#x95F4;&#x8BBE;&#x7F6E;
    link(href='stylesheets/2.css', type='text/css', rel='stylesheet')
.top-fix-bar
    .top-fix-wrap
        a.logo(href='1.html', title='QQ空间')
        .nav_list_inner
            ul.top-nav
                li
                    a(href='1.html')
                        i.ui-icno.icno-icenter
                        span.nav_list_inner_1 &#x4E2A;&#x4EBA;&#x4E2D;&#x5FC3;
                li
                    a(href='1.html')
                        i.ui-icon.icon-homepage
                        span.nav_list_inner_1 &#x6211;&#x7684;&#x4E3B;&#x9875;
                li
                    a(href='1.html')
                        i.ui-icon.icon-friend
                        span.nav_list_inner_1 &#x597D;&#x53CB;
                li
                    a(href='1.html')
                        i.ui-icon.icon-application
                        span.nav_list_inner_1 &#x6E38;&#x620F;
                li
                    a(href='1.html')
                        i.ui-icon.icon-dress-up
                        span.nav_list_inner_1 &#x88C5;&#x626E;
        .top-search
            .search-box
                input.search-input(type='text', placeholder='用户/游戏/动态')
                a(href='1.html')
                    i.ui-icno.icno-search
                a(href='1.html')
                    i.ui-icno.icno-logout
                a(href='1.html')
                    i.ui-icno.icno-setting
                a#tb_vip_li.vip-setting(href='1.html', target='_blank')
                    i.ui-icno.icno-vip
#layBackground.background-container
    .head-dress
        img.dress_1(src='img/100.png')
    .head-nav
        ul.head-nav-menu
            li.menu_item_1
                a(href='1.html') &#x4E3B;&#x9875;
            li.menu_item_1
                a(href='1.html') &#x65E5;&#x5FD7;
            li.menu_item_1
                a(href='1.html') &#x76F8;&#x518C;
            li.menu_item_1
                a(href='1.html') &#x7559;&#x8A00;&#x677F;
            li.menu_item_1
                a(href='1.html') &#x8BF4;&#x8BF4;
            li.menu_item_1
                a(href='1.html') &#x4E2A;&#x4EBA;&#x6863;
            li.menu_item_1
                a(href='1.html') &#x97F3;&#x4E50;
            li.menu_item_1
                a(href='1.html') &#x66F4;&#x591A;
        .layout-setup-title
            h3 &#x7A7A;&#x95F4;&#x8BBE;&#x7F6E;
        .layout-setup-body
            #menu_container.lay_menu
                dl.list
                    dt
                        i.ui_ico.ico_lock
                        h4.list_1 &#x6743;&#x9650;&#x8BBE;&#x7F6E;
                    dd
                        ul.lay_menu_1
                            li.bg2_hover
                                a(href='1.html', wide='1') &#x8C01;&#x80FD;&#x770B;&#x6211;&#x7684;&#x7A7A;&#x95F4;
                            li.bg2_hover
                                a(href='1.html', wide='1') &#x8BBE;&#x7F6E;&#x7A7A;&#x95F4;&#x9996;&#x9875;
                            li.bg2_hover
                                a(href='1.html', wide='1') &#x8C01;&#x80FD;&#x770B;&#x6211;&#x7684;&#x8BBF;&#x5BA2;
                            li.bg2_hover
                                a(href='1.html', wide='1') &#x8BC4;&#x8BBA;&#x7559;&#x8A00;&#x9632;&#x9A9A;&#x6270;
                            li.bg2_hover
                                a(href='1.html', wide='1')
                                    | &#x9690;&#x8EAB;&#x8BBF;&#x95EE;
                                    i.ui-icno.icno-diamond-vip
                            li.bg2_hover
                                a(href='1.html', wide='1') &#x5C01;&#x5B58;&#x6211;&#x7684;&#x52A8;&#x6001;
                            li.bg2_hover
                                a(href='1.html', wide='1')
                                    | &#x53BB;&#x5E7F;&#x544A;&#x8BBE;&#x7F6E;
                                    i.ui-icno.icno-diamond-vip
                dl.list
                    dt
                        i.ui_ico.ico_spanner
                        h4.list_2 &#x7A7A;&#x95F4;&#x8BBE;&#x7F6E;
                    dd
                        ul.lay_menu_2
                            li.bg2_hover
                                a(href='1.html', wide='1') &#x540C;&#x6B65;&#x8BBE;&#x7F6E;
                            li.bg2_hover
                                a(href='1.html', wide='1') &#x5E94;&#x7528;&#x8BBE;&#x7F6E;
                            li.bg2_hover
                                a(href='1.html', wide='1') &#x901A;&#x77E5;&#x548C;&#x63D0;&#x9192;
                dl.list
                    dt
                        i.ui_ico.ico_prosile
                        h4.list_3 &#x4E2A;&#x4EBA;&#x8D44;&#x6599;
                    dd
                        ul.lay_menu_3
                            li.bg2_hover
                                a(href='1.html', wide='1') &#x57FA;&#x672C;&#x8D44;&#x6599;
                            li.bg2_hover
                                a(href='1.html', wide='1') &#x7A7A;&#x95F4;&#x8D44;&#x6599;
                            li.bg2_hover
                                a(href='1.html', wide='1') &#x7A7A;&#x95F4;&#x5934;&#x50CF;
            .setup-mian-bd
                p#setup-bd-title.setup-bd-title &#x8BBE;&#x7F6E;&#x8C01;&#x80FD;&#x8BBF;&#x95EE;&#x6211;&#x7684;&#x7A7A;&#x95F4;&#xFF1A;
                #entry_type_list.setup-access-item
                    p.item.set-audience-drop.cur
                        i.ui-icno.icno-author-all
                        span.icno-txt &#x6240;&#x6709;&#x4EBA;
                    p.item.item.set-audience-drop(style='margin-right: 5px;')
                        i.ui-icno.icno-author-qq
                        span.icno-txt QQ&#x597D;&#x53CB;
                    p.item.item.set-audience-drop(style='margin-right: 5px;')
                        i.ui-icno.icno-author-self
                        span.icno-txt &#x4EC5;&#x81EA;&#x5DF1;
                    p.item.item.set-audience-drop(style='margin-right: 5px;')
                        i.ui-icno.icno-author-setting
                        span.icno-txt &#x81EA;&#x5B9A;&#x4E49;
            .setup-access-custom
                p.hd-tips
                    | &#x9650;&#x5236;&#x540D;&#x5355;
                    i.icno-warn
                    a.ui-m120(href='1.html') &#x8BBE;&#x7F6E;
            button#save.button-save(name='save')
                span.txt &#x4FDD;&#x5B58;
