
<!--doctype html-->
<!--head-->
<!--    meta(charset='UTF-8')-->
<!--    // <script type="text/javascript" src="../js/jquery-1.12.1.js"></script>-->
<!--    title 注册-->
<!--    script(src='javascripts/test.js')-->
<!--form(action='javascripts/trans.html', method='get', onsubmit='return tovalid()')-->
<!--    input#user(type='text', placeholder='请输入用户名', required='')-->
<!--    span#user_err-->
<!--    br-->
<!--    input#pass(type='password', placeholder='请输入密码', required='')-->
<!--    span#pass_err-->
<!--    br-->
<!--    input#pass_two(type='password', placeholder='请再次输入密码', required='')-->
<!--    span#pass_two_err-->
<!--    br-->
<!--    input(type='submit')--><!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>&#x817E;&#x8BAF;</title>
  <!-- ABCmouse腾讯版-少儿英语学习|儿童英语在线|在线英语学习-->
  <link rel="icon" href="images/favicon.png" type="png">
  <!-- 给网页添加icon图标-->
  <link href="stylesheets/Qzone.css" type="text/css" rel="stylesheet">
</head>
<div class="wrapper">
  <!-- wrapper:包装器-->
  <div class="mode-header">
    <!-- 标题栏-->
    <div class="mode-header_logo">
      <!-- 标题栏logo--><img class="logo-mobile-img" src="images/logo-mobile.png">
    </div>
    <div class="mode-header_link">
      <!-- 标题栏链接--><a class="mode-header_link-a" href="#">&#x4E0B;&#x8F7D;APP</a><a class="mode-header_link-a" href="#">&#x5F00;&#x59CB;&#x5B66;&#x4E60;</a><a class="mode-header_link-a" href="#">&#x7ACB;&#x5373;&#x8D2D;&#x4E70;</a>
    </div>
  </div>
  <div class="mode-banner">
    <!-- 横幅--><img class="background-img" src="images/bg-image.png">
  </div>
  <div class="customer-service">
    <!-- 人工客服 固定定位-->
    <!-- <img src="images/service_pc.png" class="customer-service-img" />-->
  </div>
  <div class="modules">
    <!-- 装所有模块的容器-->
    <div class="section-study-idea">
      <!-- 第一个模块：4M智慧学习理念-->
      <div class="one-one">
        <!-- one-one 1.1为第一个模块中的第一个小模块--><span class="study-idea-span">4M&#x667A;&#x6167;&#x5B66;&#x4E60;&#x7406;&#x5FF5;</span>
      </div>
      <div class="one-two"><span class="mark1">&ldquo;</span><span class="text">&#x6253;&#x9020;&#x6C89;&#x6D78;&#x5F0F;&#x82F1;&#x8BED;&#x542F;&#x8499;&#x73AF;&#x5883;</span><span class="mark2">&rdquo;</span></div>
    </div>
  </div>
</div>