doctype html
head
    meta(charset='utf-8')
    title &#x817E;&#x8BAF;&#x8BFE;&#x5802;
    link(rel='stylesheet', type='text/css', href='/stylesheets/Tencent_class.css')
header.header-index
    .header-index-inner.clearfix
        a.header-index_logo(href='#', target='_blank')
            img(src='/images/logo-3x.46efb146.png')
        a.daoh_text(href='#', target='_blank')
            span &#x5206;&#x7C7B;
        .mod-search
            span.span_kc &#x8BFE;&#x7A0B;
            input#js_keyword.mod-search__input(type='text', maxlength='38', autocomplete='off', placeholder='搜索课程')
        .clearfix_sousuo_box
            a.clearfix_sousuo
        .join-list
            ul.join-list_ul
                li &#x5F00;&#x8BFE;/&#x5408;&#x4F5C;
                li &#x4E0B;&#x8F7D;
                li &#x79C1;&#x4FE1;
                li &#x767B;&#x5F55;
// 轮播模块
.lunbo_box
    .lunbo
        ul.lunbo_ul
            .lunbo_img0
                li
                    img(src='/images/0.jpg')
            .lunbo_img01
                li
                    img(src='/images/01.jpg')
            .lunbo_img02
                li
                    img(src='images/02.jpg')
            .lunbo_img03
                li
                    img(src='/images/03.jpg')
            .lunbo_img04
                li
                    img(src='/images/04.jpg')
        .div_denglu
            span.span_denglu &#x8DDF;&#x8FDB;&#x4F60;&#x7684;&#x5B66;&#x4E60;&#x8FDB;&#x5EA6;
            .back_img
            form(action='#', method='get')
                input#denglu_bat(type='submit', value='登录')
.cate-tab-sub
    ul.cate-tab-list
        a.a_cate_list(href='#')
            li &#x7CBE;&#x9009;&#x63A8;&#x8350;
        a.a_cate_list(href='#')
            li &#x7F16;&#x7A0B;&#x8BED;&#x8A00;
        a.a_cate_list(href='#')
            li &#x5E73;&#x9762;&#x8BBE;&#x8BA1;
        a.a_cate_list(href='#')
            li &#x804C;&#x4E1A;&#x6280;&#x80FD;
        a.a_cate_list(href='#')
            li &#x9AD8;&#x4E2D;
        a.a_cate_list(href='#')
            li &#x5B9E;&#x7528;&#x82F1;&#x8BED;
        a.a_cate_list(href='#')
            li &#x6587;&#x827A;&#x4FEE;&#x517B;
    a.a_cate_mod &#x4FEE;&#x6539;&#x5174;&#x8DA3;
// 第一个ul
.container-1200
    h2  IT&#x4E92;&#x8054;&#x7F51;&#x70ED;&#x95E8;&#x8BFE;&#x7A0B;
.div_course-card-list
    ul.ul_course-card-list
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-1.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-2.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-3.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-4.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-5.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
.div_course-card-list
    ul.ul_course-card-list
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-6.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-7.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-8.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-9.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-10.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
br
br
// 第二个ul
.container-1200
    h2  &#x8BBE;&#x8BA1;&#x521B;&#x4F5C;&#x70ED;&#x95E8;&#x8BFE;&#x7A0B;
.div_course-card-list
    ul.ul_course-card-list
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-11.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-12.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-13.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-14.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-15.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
.div_course-card-list
    ul.ul_course-card-list
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-16.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-17.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-18.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-19.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
        .div_course-1-list
            .div_small_course
                li
                    img.item_img(src='images/356-20.png')
                a.a_small_course &#x4E92;&#x8054;&#x7F51;&#x9AD8;&#x7EA7;java&#x67B6;&#x6784;&#x8BFE;&#x7A0B;
                .div_item-line--bottom
                    span.span_mf &#x514D;&#x8D39;
                    span.span_item_source &#x5495;&#x6CE1;&#x6559;&#x80B2;
.div_all_course
    .div_mod_sub
        a.a_all_course(href='#')
            | &#x67E5;&#x770B;&#x5168;&#x90E8;&#x8BFE;&#x7A0B;
            span.span_jt
h1 &#x70ED;&#x95E8;&#x57F9;&#x8BAD;
.tar
    .tab-bar
        .tab-bar-item_1 IT&middot;&#x4E92;&#x8054;&#x7F51;
        .tab-bar-item &#x8BBE;&#x8BA1;&middot;&#x521B;&#x4F5C;
        .tab-bar-item &#x7535;&#x5546;&middot;&#x8425;&#x9500;
        .tab-bar-item &#x804C;&#x4E1A;&middot;&#x8003;&#x8BC1;
        .tab-bar-item &#x5347;&#x5B66;&middot;&#x8003;&#x7814;
        .tab-bar-item &#x5174;&#x8DA3;&middot;&#x751F;&#x6D3B;
        .tab-bar-item &#x8BED;&#x8A00;&middot;&#x7559;&#x5B66;
.tab-content
    .tab-content-item
        a(href='#') excel&#x57F9;&#x8BAD;
        a(href='#') &#x8BA1;&#x7B97;&#x673A;&#x4E8C;&#x7EA7;&#x57F9;&#x8BAD;
        a(href='#') plc&#x7F16;&#x7A0B;&#x57F9;&#x8BAD;
        a(href='#') &#x5FAE;&#x5546;&#x57F9;&#x8BAD;
        a(href='#') &#x7B97;&#x6CD5;&#x5DE5;&#x7A0B;&#x5E08;&#x57F9;&#x8BAD;
        a(href='#') php&#x57F9;&#x8BAD;
        a(href='#') ga&#x57F9;&#x8BAD;
        a(href='#') &#x7535;&#x8111;&#x57F9;&#x8BAD;
        a(href='#') &#x7A0B;&#x5E8F;&#x5458;&#x57F9;&#x8BAD;
        a(href='#') ie&#x5DE5;&#x7A0B;&#x5E08;&#x57F9;&#x8BAD;
        br
        br
        br
        a(href='#') &#x7F16;&#x7A0B;&#x8BED;&#x8A00;&#x57F9;&#x8BAD;
        a(href='#') web&#x524D;&#x7AEF;&#x57F9;&#x8BAD;
        a(href='#') python&#x57F9;&#x8BAD;
        a(href='#') &#x5B89;&#x5353;&#x7CFB;&#x7EDF;&#x57F9;&#x8BAD;
        a(href='#') &#x6570;&#x63A7;&#x7F16;&#x7A0B;&#x57F9;&#x8BAD;
        a(href='#') html5&#x57F9;&#x8BAD;
        a(href='#') sql&#x57F9;&#x8BAD;
        a(href='#') &#x8F6F;&#x4EF6;&#x6D4B;&#x8BD5;&#x57F9;&#x8BAD;
        a(href='#') &#x8BA1;&#x7B97;&#x673A;&#x7F16;&#x7A0B;&#x57F9;&#x8BAD;
        a(href='#') &#x7F51;&#x7AD9;&#x5EFA;&#x8BBE;&#x57F9;&#x8BAD;
section.wrap-bg-dark-gray
    .wrap-cooperation
        h3.cooperation-title &#x5408;&#x4F5C;&#x94FE;&#x63A5;
        ul.cooperation-list
            li &#x817E;&#x8BAF;&#x5927;&#x5B66;
            li &#x817E;&#x8BAF;&#x7F51;&#x6559;&#x80B2;&#x9891;&#x9053;
            li &#x817E;&#x8BAF;&#x7CBE;&#x54C1;&#x8BFE;
            li &#x817E;&#x8BAF;&#x4E91;
            li &#x817E;&#x8BAF;&#x7535;&#x8111;&#x7BA1;&#x5BB6;
            li &#x817E;&#x8BAF;&#x5FA1;&#x5B89;&#x5168;
            li &#x4F01;&#x9E45;FM
            li &#x817E;&#x8BAF;&#x5FAE;&#x4E91;
            li &#x817E;&#x8BAF;&#x6587;&#x6863;
            li &#x817E;&#x8BAF;&#x6E38;&#x620F;&#x5B66;&#x9662;
            li &#x73AF;&#x7403;&#x7F51;&#x6821;
            li &#x4E2D;&#x534E;&#x8003;&#x8BD5;&#x7F51;
            li &#x5B66;&#x795E;IT&#x6559;&#x80B2;
            li &#x4E91;&#x827A;&#x5E06;&#x6559;&#x80B2;
            li &#x4E3A;&#x8BFE;&#x7F51;&#x6821;
            li &#x4E2D;&#x5927;&#x7F51;&#x6821;
            li &#x76CA;&#x4FEE;&#x5B66;&#x9662;
            li &#x8D77;&#x70B9;&#x5B66;&#x9662;
            li &#x4EBA;&#x4EBA;&#x90FD;&#x662F;&#x4EA7;&#x54C1;&#x7ECF;&#x7406;
            li &#x516C;&#x52A1;&#x5458;&#x8003;&#x8BD5;&#x7F51;
            li &#x65B0;&#x4E1C;&#x65B9;&#x5728;&#x7EBF;
            li &#x4E2D;&#x516C;&#x516C;&#x52A1;&#x5458;&#x7F51;
            li &#x5B66;&#x79D1;&#x7F51;
            li &#x539F;&#x753B;&#x4EBA;
footer.footer
    img.gif(src='images/loading.gif', title='腾讯课堂_专业的在线教育平台')
    p Copyright &copy; 2019 Tencent. All Rights Reserved.
    p.text
        | &#x6DF1;&#x5733;&#x5E02;&#x817E;&#x8BAF;&#x8BA1;&#x7B97;&#x673A;&#x7CFB;&#x7EDF;&#x6709;&#x9650;&#x516C;&#x53F8; &#x7248;&#x6743;&#x6240;&#x6709; |
        a(href='#') &#x817E;&#x8BAF;&#x8BFE;&#x5802;&#x670D;&#x52A1;&#x534F;&#x8BAE;
        | &#x9;&#x9;|
        a(href='#') &#x7AD9;&#x70B9;&#x5730;&#x56FE;
        | &#x9;&#x9;|
        a(href='#') &#x4FB5;&#x6743;&#x6295;&#x8BC9;
        | &#x9;&#x9;|
        a(href='#') &#x95EE;&#x9898;&#x53CD;&#x9988;
        | &#x9;&#x9;|
        a(href='#') &#x5E2E;&#x52A9;
