doctype html
head
    meta(charset='utf-8')
    title &#x670D;&#x52A1;&#x6307;&#x5F15;-&#x817E;&#x8BAF;&#x5F00;&#x653E;&#x5E73;&#x53F0;
    link(href='stylesheets/1.css', type='text/css', rel='stylesheet')
.dingbu
    img(src='img/logo.png', height='56px')
    ul.ul_1
        li
            a(href='1.html') &#x9996;&#x9875;
        li
            a(href='1.html') &#x8D44;&#x6599;&#x5E93;
        li
            a(href='1.html') &#x6D3B;&#x52A8;
        li
            a(href='1.html') &#x516C;&#x5F00;&#x8BFE;
        li
            a(href='1.html') &#x8BBA;&#x575B;
        li
            a(href='1.html') &#x8054;&#x7CFB;&#x6211;&#x4EEC;
    form.ju
        input.button_class(type='button', value='注册')
        input.button_class(type='button', value='登录')
        a(href='1.html') &#x7B80;&#x4F53;&#x4E2D;&#x6587;
        | &#x9;&#x9;&#x9;|
        a(href='1.html') English
        button#btn_search.ico_search(type='submit', _hot_tag='OPEN.SEARCH') &#x641C;&#x7D22;
        input(type='search')
.black_menu
    ul.black_menu_ul
        li.black_menu_ul_1
            a.menu_ul_a_1(href='1.html')
                i.ico_n_home
                | &#x8D44;&#x6599;&#x5E93;&#x9996;&#x9875;
        li.black_menu_ul_2
            a.menu_ul_a_2(href='1.html')
                i.ico_n_app-1
                | &#x79FB;&#x52A8;&#x5E94;&#x7528;&#x63A5;&#x5165;
        li.black_menu_ul_3
            a.menu_ul_a_3(href='1.html')
                i.ico_n_wapgame
                | &#x79FB;&#x52A8;&#x6E38;&#x620F;&#x63A5;&#x5165;
        li.black_menu_ul_4
            a.menu_ul_a_4(href='1.html')
                i.ico_n_app
                | pc&#x5E94;&#x7528;&#x63A5;&#x5165;
                b.ico_n_trg
            .menu_ul_4_1
                ul
                    li.a
                        a(href='1.html') &#x65B0;&#x624B;&#x6307;&#x5F15;
                    li.a
                        a(href='1.html') &#x653F;&#x7B56;&#x4E0E;&#x89C4;&#x8303;
                    li.a
                        a(href='1.html') API&#x6587;&#x6863;
                    li.a
                        a(href='1.html') &#x63A8;&#x5E7F;&#x6E20;&#x9053;
                    li.a
                        a(href='1.html') &#x4E91;&#x652F;&#x4ED8;
                    li.a
                        a(href='1.html') &#x81EA;&#x52A9;&#x8425;&#x9500;&#x5E73;&#x53F0;
                    li.a
                        a(href='1.html') &#x7BA1;&#x7406;&#x4E2D;&#x5FC3;
        li.black_menu_ul_5
            a.menu_ul_a_5(href='1.html')
                i.ico_n_www
                | &#x7F51;&#x7AD9;&#x63A5;&#x5165;
                b.ico_n_trg
            .menu_ul_5_1
                ul
                    li.a
                        a(href='1.html') &#x65B0;&#x624B;&#x6307;&#x5F15;
                    li.a
                        a(href='1.html') &#x653F;&#x7B56;&#x4E0E;&#x89C4;&#x8303;
                    li.a
                        a(href='1.html') OAuth&#x534F;&#x8BAE;&#x4ECB;&#x7ECD;
                    li.a
                        a(href='1.html') API&#x6587;&#x6863;
                    li.a
                        a(href='1.html') &#x7BA1;&#x7406;&#x4E2D;&#x5FC3;
.san_menu_1
    img(src='img/ico_home.png')
    a(href='1.html') pc&#x5E94;&#x7528;&#x63A5;&#x5165;
    span >
    a(href='1.html') &#x653F;&#x7B56;&#x4E0E;&#x89C4;&#x8303;
    span >
    a(href='1.html') &#x670D;&#x52A1;&#x6307;&#x5F15;
.left_col
    ul#menu_level3.menu_level3
        li
            a(href='1.html') PC&#x5E94;&#x7528;&#x63A5;&#x5165;wiki&#x7D22;&#x5F15;
        li.menu_3_1
            span &#x65B0;&#x624B;&#x6307;&#x5F15;
            span.jiantou
            ul#menu_level4.menu_level4
                li
                    a(href='1.html') &#x5E94;&#x7528;&#x63A5;&#x5165;&#x65B0;&#x624B;&#x6307;&#x5F15;
                li
                    a(href='1.html') &#x5E94;&#x7528;&#x63A5;&#x5165;&#x6D41;&#x7A0B;
                li
                    a(href='1.html') &#x817E;&#x8BAF;&#x5F81;&#x4FE1;&#x5B9E;&#x540D;&#x8BA4;&#x8BC1;&#x63A5;&#x5165;
                li
                    a(href='1.html') &#x8054;&#x7CFB;&#x6211;&#x4EEC;
        li.menu_3_2
            span &#x653F;&#x7B56;&#x4E0E;&#x89C4;&#x8303;
            span.jiantou
            ul#menu_level5.menu_level5
                li
                    a(href='1.html') &#x5E94;&#x7528;&#x63A5;&#x5165;&#x65B0;&#x624B;&#x6307;&#x5F15;
                li
                    a(href='1.html') &#x5E94;&#x7528;&#x63A5;&#x5165;&#x6D41;&#x7A0B;
                li
                    a(href='1.html') &#x817E;&#x8BAF;&#x5F81;&#x4FE1;&#x5B9E;&#x540D;&#x8BA4;&#x8BC1;&#x63A5;&#x5165;
                li
                    a(href='1.html') &#x8054;&#x7CFB;&#x6211;&#x4EEC;
        li.menu_3_3
            span API&#x6587;&#x6863;
            span.jiantou
            ul#menu_level6.menu_level6
                li
                    a(href='1.html') &#x5E94;&#x7528;&#x63A5;&#x5165;&#x65B0;&#x624B;&#x6307;&#x5F15;
                li
                    a(href='1.html') &#x5E94;&#x7528;&#x63A5;&#x5165;&#x6D41;&#x7A0B;
                li
                    a(href='1.html') &#x817E;&#x8BAF;&#x5F81;&#x4FE1;&#x5B9E;&#x540D;&#x8BA4;&#x8BC1;&#x63A5;&#x5165;
                li
                    a(href='1.html') &#x8054;&#x7CFB;&#x6211;&#x4EEC;
        li.menu_3_4
            span &#x63A8;&#x5E7F;&#x6E20;&#x9053;
            span.jiantou
            ul#menu_level7.menu_level7
                li
                    a(href='1.html') &#x5E94;&#x7528;&#x63A5;&#x5165;&#x65B0;&#x624B;&#x6307;&#x5F15;
                li
                    a(href='1.html') &#x5E94;&#x7528;&#x63A5;&#x5165;&#x6D41;&#x7A0B;
                li
                    a(href='1.html') &#x817E;&#x8BAF;&#x5F81;&#x4FE1;&#x5B9E;&#x540D;&#x8BA4;&#x8BC1;&#x63A5;&#x5165;
                li
                    a(href='1.html') &#x8054;&#x7CFB;&#x6211;&#x4EEC;
        li.menu_3_5
            span &#x4E91;&#x652F;&#x4ED8;
            span.jiantou
            ul#menu_level8.menu_level8
                li
                    a(href='1.html') &#x5E94;&#x7528;&#x63A5;&#x5165;&#x65B0;&#x624B;&#x6307;&#x5F15;
                li
                    a(href='1.html') &#x5E94;&#x7528;&#x63A5;&#x5165;&#x6D41;&#x7A0B;
                li
                    a(href='1.html') &#x817E;&#x8BAF;&#x5F81;&#x4FE1;&#x5B9E;&#x540D;&#x8BA4;&#x8BC1;&#x63A5;&#x5165;
                li
                    a(href='1.html') &#x8054;&#x7CFB;&#x6211;&#x4EEC;
        li.menu_3_6
            span &#x81EA;&#x52A9;&#x8425;&#x9500;&#x5E73;&#x53F0;
            span.jiantou
            ul#menu_level9.menu_level9
                li
                    a(href='1.html') &#x5E94;&#x7528;&#x63A5;&#x5165;&#x65B0;&#x624B;&#x6307;&#x5F15;
                li
                    a(href='1.html') &#x5E94;&#x7528;&#x63A5;&#x5165;&#x6D41;&#x7A0B;
                li
                    a(href='1.html') &#x817E;&#x8BAF;&#x5F81;&#x4FE1;&#x5B9E;&#x540D;&#x8BA4;&#x8BC1;&#x63A5;&#x5165;
                li
                    a(href='1.html') &#x8054;&#x7CFB;&#x6211;&#x4EEC;
        li.menu_3_7
            span &#x7BA1;&#x7406;&#x4E2D;&#x5FC3;
            span.jiantou
            ul#menu_level10.menu_level10
                li
                    a(href='1.html') &#x5E94;&#x7528;&#x63A5;&#x5165;&#x65B0;&#x624B;&#x6307;&#x5F15;
                li
                    a(href='1.html') &#x5E94;&#x7528;&#x63A5;&#x5165;&#x6D41;&#x7A0B;
                li
                    a(href='1.html') &#x817E;&#x8BAF;&#x5F81;&#x4FE1;&#x5B9E;&#x540D;&#x8BA4;&#x8BC1;&#x63A5;&#x5165;
                li
                    a(href='1.html') &#x8054;&#x7CFB;&#x6211;&#x4EEC;
        li
            a(href='1.html') &#x6982;&#x5FF5;&#x4E0E;&#x672F;&#x8BED;
        li
            a(href='1.html') FAQ
.right_col
    li.menu_3_8
        span
            strong &#x670D;&#x52A1;&#x6307;&#x5F15;
        .hengxian
            hr
        ul#menu_level11.menu_level11
            li
                a(href='1.html') &#x817E;&#x8BAF;&#x5F00;&#x653E;&#x5E73;&#x53F0;&#x4FB5;&#x6743;&#x6295;&#x8BC9;&#x6307;&#x5F15;
            li
                a(href='1.html') Tencent Open Platform Complaint Guidelines
            li
                a(href='1.html') &#x817E;&#x8BAF;&#x5F00;&#x653E;&#x5E73;&#x53F0;&#x4FB5;&#x6743;&#x6295;&#x8BC9;&#x53CD;&#x901A;&#x77E5;&#x6307;&#x5F15;
            li
                a(href='1.html') &#x5E94;&#x7528;&#x8FDD;&#x89C4;&#x6295;&#x8BC9;
            li
                a(href='1.html') &#x670D;&#x52A1;&#x8D28;&#x91CF;&#x6295;&#x8BC9;
            li
                a(href='1.html') &#x5176;&#x5B83;&#x6295;&#x8BC9;
            li
                a(href='1.html') &#x6295;&#x8BC9;&#x76F8;&#x5173;&#x5E38;&#x89C1;&#x95EE;&#x9898;
    .hengxian
        hr
.mod-sider-r
    a.answer(href='1.html', target='_blank') &#x6709;&#x95EE;&#x5FC5;&#x7B54;
    a#returnTop.backTop(href='#portal-header') &#x8FD4;&#x56DE;&#x9876;&#x90E8;
