doctype html
head
    meta(charset='utf-8')
    title &#x9EC4;&#x94BB;&#x6D3B;&#x52A8;-&#x9EC4;&#x94BB;&#x5B98;&#x7F51;-QQ&#x7A7A;&#x95F4;
    link(rel='stylesheet', type='text/css', href='stylesheets/黄钻.css')
    style(type='text/css').
        .li{
            display: inline-block;
            background: white;
            line-height: 39px;
            padding-left: 418px;
            font-size: 17px;
            text-align: center;
        }
        .wenzi{
            text-align: center;
            position: relative;
            right: 138px;
        }
        .sy{
            display: inline-block;
            width: 238px;
            height: 228px;
            vertical-align: middle;
        }
        .dis{
            position: relative;
            top: 53px;
        }
        .diu{
            border: 1px solid;
            background-color: white;
        }
        .text-2{
            margin: 0px;
            padding: 0px;
        }
div
    .act_toolbar
        .toolbar_wrap
            img.tou_logo(src='images/q1.png', style='vertical-align: middle;')
            .toolbar_new_f1
                a.link_act(href='#') &#x70ED;&#x95E8;&#x6D3B;&#x52A8;
                a.link_act(href='#') &#x9EC4;&#x94BB;&#x8D35;&#x65CF;
            div
        div(style='background: rgb(49, 130, 238);')
            .toolbar_block(style='\
      background-color: rgb(49, 130, 238);\
      padding: 20px 0;\
      width: 720px;\
      height: 230px;\
      overflow: hidden;\
      margin: 0 auto;\
      ')
                .centainer
                    img(src='images/20170413155301_gaFEnPoN9C.jpg', width='720px', height='230px')
                    img(src='images/20180829161509_KKXJXzAlzW.jpg')
        div(style='\
    background-color:#E7ECEA;\
    height:1000px;\
    text-align: center;\
    ')
            .tabs(style='text-align: center;')
                ul.text-2
                    li.li
                        a.wenzi QQ&#x7A7A;&#x95F4;&#x6D3B;&#x52A8;
                    li.li
                        a.wenzi &#x9EC4;&#x94BB;&#x6D3B;&#x52A8;
            .list_item(style='\
      background-color: #e7ecea;\
      height: 1500px;\
      text-align: center;					\
      ')
                ul(style='\
        width: 1000px;\
        height: 1370px;\
        background: white;\
        margin: auto;\
        padding-inline-start: 0px;\
        ')
                    li.diu
                        img.dis(src='images/1.jpg ', width='720px', height=':"230px"')
                        .sy
                            h2 &#x9EC4;&#x91D1;&#x5341;&#x5E74;&#x5E86;&#x5178;
                            p &#x9EC4;&#x94BB;&#x5341;&#x5E74; &#x5411;&#x9633;&#x800C;&#x751F;
                            a.target(href='#', style='\
              font-size: 18px;\
              background-color: yellow;\
              padding: 11px;\
              margin-top: 9px;\
              ') &#x7ACB;&#x5373;&#x53C2;&#x4E0E;
                    li.diu
                        img.dis(src='images/2.jpg ', width='720px', height=':"230px"')
                        .sy
                            h2 LV9&#x6A2A;&#x7A7A;&#x51FA;&#x4E16;
                            p &#x72EC;&#x4E00;&#x65E0;&#x4E8C;&#x7684;&#x4E13;&#x5C5E;&#x7279;&#x6743;&#xFF0C;&#x4F60;&#x503C;&#x5F97;&#x62E5;&#x6709;&#xFF01;
                            a.target(href='#', style='\
              font-size: 18px;\
              background-color: yellow;\
              padding: 11px;\
              margin-top: 9px;\
              ') &#x7ACB;&#x5373;&#x53C2;&#x4E0E;
                    li.diu
                        img.dis(src='images/3.jpg ', width='720px', height=':"230px"')
                        .sy
                            h2 LV9&#x5F00;&#x653E;&#x901A;&#x77E5;
                            p &#x4E09;&#x5206;&#x949F;&#x5FEB;&#x901F;&#x4E86;&#x89E3;LV9&#xFF01;
                            a.target(href='#', style='\
              font-size: 18px;\
              background-color: yellow;\
              padding: 11px;\
              margin-top: 9px;\
              ') &#x7ACB;&#x5373;&#x53C2;&#x4E0E;
                    li.diu
                        img.dis(src='images/4.jpg ', width='720px', height=':"230px"')
                        .sy
                            h2 &#x5929;&#x5929;&#x9177;&#x8DD1;&#x94BB;&#x77F3;&#x793C;&#x5305;
                            p &#x9177;&#x8DD1;&#x53CC;&#x5468;&#x5E74;&#x5E86;&#xFF0C;&#x514D;&#x8D39;&#x62A2;&#x795E;&#x5BA0;&#xFF0C;&#x53EA;&#x4E3A;&#x7ED9;&#x4F60;&#x6700;&#x597D;&#x798F;&#x5229;&#xFF01;&#x5148;&#x5230;&#x5148;&#x5F97;&#x54E6;&#xFF01;
                            a.target(href='#', style='\
              font-size: 18px;\
              background-color: yellow;\
              padding: 11px;\
              margin-top: 9px;\
              ') &#x7ACB;&#x5373;&#x53C2;&#x4E0E;
                div(style='\
        position: relative;\
        top: 59px;\
        font-size: 15px;\
        ')
                    span &#x53CB;&#x60C5;&#x94FE;&#x63A5;&#xFF1A;
                    a(href='#') QQ&#x7A7A;&#x95F4;
                    span.sep |
                    a(href='#') &#x624B;&#x673A;QQ&#x7A7A;&#x95F4;
                    span.sep |
                    a(href='#') &#x4F01;&#x9E45;FM
                    span.sep |
                    a(href='#') &#x753B;&#x62A5;
                    span.sep |
                    a(href='#') &#x661F;&#x94BB;
                    span.sep |
                    a(href='#') QQ&#x97F3;&#x4E50;
                    span.sep |
                    a(href='#') &#x5168;&#x6C11;K&#x6B4C;
                    span.sep |
                    a(href='#') &#x817E;&#x8BAF;&#x7F51;
                    span.sep |
                    a(href='#') &#x817E;&#x8BAF;&#x4E91;&#x8BBA;&#x575B;
                    span.sep |
                    a(href='#') ABCmouse&#x817E;&#x8BAF;&#x7248;
                    span.sep |
                    div(style='color:black;\
          font-size: 13px;')
                        | &#x5173;&#x4E8E;&#x817E;&#x8BAF;|About Tencent|&#x670D;&#x52A1;&#x534F;&#x8BAE;|&#x5F00;&#x653E;&#x5E73;&#x53F0;|&#x5E7F;&#x544A;&#x670D;&#x52A1;|&#x5546;&#x52A1;&#x6D3D;&#x8C08;|&#x817E;&#x8BAF;&#x62DB;&#x8058;|&#x817E;&#x8BAF;&#x516C;&#x76CA;|&#x5BA2;&#x670D;&#x4E2D;&#x5FC3;|&#x9EC4;&#x94BB;&#x5B98;&#x7F51;|&#x9EC4;&#x94BB;&#x6D3B;&#x52A8;|&#x7F51;&#x7AD9;&#x5BFC;&#x822A;|&#x7248;&#x6743;&#x6240;&#x6709;|
