.content{
    margin: 0 auto;
    text-align:center;
    position: relative;
}
.logo{
    background: url(/images/img2/logo.png);
    display: block;
    width: 140px;
    height: 48px;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: middle;

}
.hang_1 li{
    list-style: none;
    display: inline-block;
    margin-left: 69px;
    font-size: 21px;
}
.hang_1{
    display: inline-block;
    vertical-align: middle;
    margin-left: 237px;
}
#box_1{
    line-height: 92px;
}
a{
    text-decoration: none;
}
.text{
    width: 1062px;
    height: 760px;
    margin: 0 auto;
}
.span_{
    float: left;
    font-size: 20px;
}
.button1{
    background: url(/images/img2/download.png);
    width: 142px;
    height: 44px;
}
.text>ul{
    display: block;
    margin: 48px 9px;
}
.text li{
    list-style: none;
    display: inline-block;
    margin-right: 62px;
    height: 250px;
    width: 184px;
}
.button1{
    background: url(/images/img2/download.png);
    width: 142px;
    height: 44px;
    background-position: -35px -124px;

}
.one{
    position: -10px;
}
.download_1{
    float: left;
    border-right: 1px solid #e0e0e0;
    width: 590px;
    height: 360px;
    position: relative;
    z-index: 10;

}
.img_1{
    width: 131px;
    float: left;
    top: 95px;
    position: relative;
    left: -110px;
}
.box_2{

    height: 245px;
    width: 357px;
    float: left;
    position: relative;
    top: 101px;

}
.wenzi{
    display: block;
    margin: 11px;
}
.jixin{
    background: url(/images/img2/downLoad0ca6c2.png);
    background-position: -9px 317px;
    width: 284px;
    display: block;
    height: 48px;
    margin: 0 auto;
}
.word-1{
    font-size: 16px;
    line-height: 3;
}
.jixin:hover{
    background: url(/images/img2/downLoad0ca6c2.png);
    background-position: -286px 317px;
}
.zhankai{
    position: absolute;
    left: 45px;
    width: 520px;
    height: 405px;
    background-color: #f4f4f4;
    /* border: 1px solid; */
    top: 87px;
    display: none;
}
.jixin:hover  .zhankai{
    display: inline;
}
.download_2{
    float: left;
    margin-left: 56px;
    width: 288px;
    margin-bottom: 55px;

}
.picture{
    float: left;
}
.span_3{
    display: block;
    height: 128px;
    width: 155px;
    font-size: 20px;
}
.p{
    font-size: 14px;
    color: #565656;
    line-height: 2;
}
.button{

}
.button  a{
    color: #9c9c9c;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.button2{
    color: #9c9c9c;
    font-size: 14px;
    margin: 67px auto;
    background-color: #f3f3f3;
    padding: 109px;
}
