.wrapper {
	width: 100%;
	height: 815px;
	/* background-color: red; */
}

.navigation {
	width: 100%;
	height: 50px;
	background-color: rgb(31, 31, 31);
}

.navigation1 {
	width: 70%;
	margin: auto;
	height: 50px;
}

.logo {
	background-image: url(../img/all-center.png);
	background-size: 578px 50px;
	background-position: 0 0;
	/* 定义图像的起始位置 */
	float: left;
	width: 92px;
	height: 50px;
}

.top-nav {
	/* ul */
	width: 33%;
	margin-left: 5%;
	list-style-type: none;
}

.top-nav li {
	display: inline;
	width: 91px;
	height: 50px;
	/* background-image: url(../img/all-center1.png);
	background-size: 85px 531px;
	background-position: 60px 500px; */
	padding-left: 77px;
	text-align: center;
}

.person-center,
.myhomepage,
.goodfriend,
.game,
.dress,
.headpicture-span {
	color: white;
	/* text-decoration: none;
	vertical-align: middle; /*使图片居中*/
	*/
}

/* .top-nav-div{
	padding-top: 1px;
	width: 95%;
	margin-left: -138px;
	height: 50px;
} */
.person-center-span {
	position: absolute;
	top: 26px;
	left: 353px;
}

.myhomepage-span {
	position: absolute;
	top: 26px;
	left: 459px;
}

.person-center-img {
	position: absolute;
	top: 22px;
	left: 335px;
}

.myhomepage-img {
	position: absolute;
	top: 22px;
	left: 434px;
}

.goodfriend-img {
	position: absolute;
	top: 22px;
	left: 540px;
}

.goodfriend-span {
	position: absolute;
	top: 26px;
	left: 563px;
}

.game-img {
	position: absolute;
	top: 23px;
	left: 647px;
}

.game-span {
	position: absolute;
	top: 26px;
	left: 671px;
}

.dress-img {
	position: absolute;
	top: 23px;
	left: 721px;
}

.dress-span {
	position: absolute;
	top: 26px;
	left: 746px;
}

.search-box {
	position: absolute;
	top: 26px;
	left: 846px;
	background-color: rgb(87, 87, 87);
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: 123px;
	border-radius: 6px;
}

.search-box:hover {
	background-color: white;
}

.exit-img {
	position: absolute;
	top: 23px;
	left: 1021px;
}

.setting-img {
	position: absolute;
	top: 23px;
	left: 1060px;
}

.yellow-img {
	position: absolute;
	top: 22px;
	left: 1099px;
	width: 28px;
	height: 24px;
}

.headpicture-img {
	position: absolute;
	top: 17px;
	left: 1145px;
	width: 32px;
	height: 32px;
}

.headpicture-span {
	position: absolute;
	top: 25px;
	left: 1180px;
}

.content {
	background-image: url(../img/backgroundimage.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 245px;
	background-position-x: -219px;
	background-position-y: -31px;
}

.whoseqzone {
	position: absolute;
	left: 235px;
	top: 83px;
	font-size: 28px;
	color: white;
	font-weight: 660;
}

.thumbs-up-a {
	width: 52px;
	height: 32px;
	border-radius: 19px;
	position: absolute;
	left: 1186px;
	top: 100px;
	background-color: rgb(44, 91, 131);
	text-decoration: none;
}

.thumbs-up-img {
	position: relative;
	left: 6px;
	height: 24px;
	top: 2px;
}

.thumbs-up-span {
	text-decoration: none;
	color: white;
	position: relative;
	bottom: 2px;
	left: 9px;
}

/* .and-div{
	background-color: red;
	width: 213px;
	height: 240px;
	position: relative;
	left: 232px;
	top: 355px;
} */
.head-img {
	position: relative;
	left: 232px;
	top: -100px;
	width: 125px;
	height: 125px;
	border: #FFFFFF solid 3px;
}

.head-img-span {
	position: relative;
	left: 238px;
	top: -210px;
	color: white;
	font-size: 20px;
	font-weight: 700;
}

.small-nav {
	width: 100%;
	background-color: white;
	height: 50px;
	position: absolute;
	top: 300px;
}

.small-nav-div {
	width: 55%;
	/* 	background-color: red; */
	height: 50px;
	position: relative;
	top: -137px;
	left: 22%;
}

.small-nav-a {
	text-decoration: none;
	color: #000000;
}

.small-nav-a:hover {
	color: red;
	text-decoration: underline;
}

.small-nav-ul {
	display: inline;
}

.small-nav-li {
	display: inline-block;
	text-align: center;
	margin-top: 16px;
	padding-left: 26px;
}

.left-nav {
	width: 289px;
	height: 90px;
	background-color: white;
	position: relative;
	top: 36px;
}

.personal-qzone-center {
	width: 920px;
	height: 315px;
	/* background-color: red; */
	margin: auto;
}

.left-nav-li {
	list-style-type: none;
	padding-top: 9px;
	margin-bottom: 6px;
	padding-bottom: 9px;
}

.left-nav-li:hover {
	background-color: rgb(246, 246, 246);
}

.left-nav-a {
	text-decoration: none;
	color: #000000;
	background-image: url(../img/center-small9.png);
	background-repeat: no-repeat;
	background-position-y: -3px;
	padding-top: 1px;
	padding-bottom: 3px;
}

.left-nav-a span {
	padding-left: 25px;
}

.left-nav-ul {
	margin-left: -21px;
}

.left-nav-a1 {
	text-decoration: none;
	color: #000000;
	background-image: url(../img/center-small10.png);
	background-repeat: no-repeat;
	background-position-y: -3px;
	padding-top: 1px;
	padding-bottom: 3px;
}

.left-nav-a1 span,
.left-nav-a2 span,
.left-nav-a3 span,
.left-nav-a4 span,
.left-nav-a5 span,
.left-nav-a6 span {
	padding-left: 25px;
}

.left-nav-a2 {
	text-decoration: none;
	color: #000000;
	background-image: url(../img/center-small11.png);
	background-repeat: no-repeat;
	background-position-y: -2px;
	padding-top: 2px;
	padding-bottom: 3px;
}

.left-nav-a3 {
	text-decoration: none;
	color: #000000;
	background-image: url(../img/center-small12.png);
	background-repeat: no-repeat;
	background-position-y: -2px;
	padding-top: 1px;
	padding-bottom: 5px;
}

.left-nav-a4 {
	text-decoration: none;
	color: #000000;
	background-image: url(../img/center-small13.png);
	background-repeat: no-repeat;
	background-position-y: -2px;
	padding-top: 1px;
	padding-bottom: 5px;
}

.left-nav-a5 {
	text-decoration: none;
	color: #000000;
	background-image: url(../img/center-small14.png);
	background-repeat: no-repeat;
	background-position-y: -2px;
	padding-top: 1px;
	padding-bottom: 5px;
}

.left-nav-a6 {
	text-decoration: none;
	color: #000000;
	background-image: url(../img/center-small15.png);
	background-repeat: no-repeat;
	background-position-y: -2px;
	padding-top: 1px;
	padding-bottom: 5px;
}

.middle {
	width: 592px;
	height: 570px;
	position: relative;
	top: -310px;
	/* 	background-color: red; */
	left: 18%;
}

.middle-say {
	background-color: white;
	width: 592px;
	height: 481px;
	margin-top: 28px;
	margin-left: 313px;
}

.middle-say-ltj {
	background-color: white;
	width: 592px;
	height: 446px;
	margin-top: 20px;
}

.user {
	background-color: white;
	width: 562px;
	height: 50px;
	position: relative;
	top: 15px;
	margin: auto;
}

.user-ltj {
	background-color: white;
	width: 562px;
	height: 50px;
	position: relative;
	top: 15px;
	margin: auto;
}

.user-pho {
	width: 50px;
	height: 50px;
}

.user-ltj-pho {
	width: 50px;
	height: 50px;
}

.user-pho-img {
	width: 50px;
	border-radius: 100%;
}

.user-img-ltj {
	width: 50px;
	border-radius: 100%;
}

.user-nickname {
	width: 512px;
	height: 50px;
	/* background-color: #000000; */
	margin-left: 50px;
	margin-top: -50px;
}

.user-nickname-span {
	position: relative;
	top: 4px;
	left: 10px;
}

.username-ltj-span {
	position: relative;
	top: -45px;
	left: 58px;
}

.says-img {
	width: 560px;
	height: 331px;
}

.says-time {
	position: relative;
	left: -46px;
	top: 30px;
	color: rgb(130, 130, 130);
}

.says-time-ltj {
	position: relative;
	left: 4px;
	top: -20px;
	color: rgb(130, 130, 130);
}

.says-content-ltj {}

.hr {
	margin-top: 19px;
	color: rgba(241, 241, 241, 0.5);
}

.says-content {
	width: 592px;
	height: 321px;
	/* background-color: firebrick; */
}

.says-content-ul li {
	list-style: none;
	/* 	padding-left: 0px; */
}

.qqmusic {
	width: 592px;
	height: 70px;
	position: relative;
	top: 0px;
	left: 0px;
}

.right {
	width: 220px;
	height: 570px;
	position: relative;
	top: -880px;
	/* background-color: red; */
	left: 77.4%;
}

.threetoys-img {
	position: relative;
	left: 59%;
	top: -118%;
}

.avertisement1 {
	width: 220px;
	height: 120px;
}

.avertisement2 {
	width: 220px;
	height: 120px;
	margin-top: 20px;
}

.avertisement3 {
	width: 220px;
	height: 120px;
	margin-top: 20px;
}

.publish {
	width: 592px;
	height: 68px;
	/* 	background-color: red; */
	margin-top: 14px;

}

.publish-input {
	width: 588px;
	height: 68px;

}

.camera {
	width: 48px;
	height: 68px;
	background-color: rgb(250, 250, 250);
	position: relative;
	left: 495px;
	top: -72px;
	border: solid rgb(231, 231, 231) 1px;
}

.publish-i {
	/* background-color: red; */
	padding-left: 30px;
	padding-top: 16px;
	position: relative;
	left: 8px;
	top: 32px;
	background-image: url(../img/all-center1.png);
	background-position-x: 4px;
	background-position-y: 35px;
}

.link {
	width: 47px;
	height: 69px;
	background-color: rgb(250, 250, 250);
	position: relative;
	left: 544px;
	top: -141px;
	border: solid rgb(231, 231, 231) 1px;
}

.link-i {
	padding-left: 30px;
	padding-top: 14px;
	position: relative;
	left: 8px;
	top: 29px;
	background-image: url(../img/all-center1.png);
	background-position-x: -29px;
	background-position-y: -85px;
}

.middle-ad {
	width: 592px;
	height: 202px;
	background-color: white;
	top: 32px;
	position: relative;
}

.ad {
	width: 592px;
	height: 40px;
	border: solid rgb(231, 231, 231) 1px;
}

.middle-ad-img {
	margin-top: 10px;
	margin-left: 38px;
	border: solid rgb(231, 231, 231) 1px;
}

.middle-ad-span {
	position: relative;
	top: 10px;
	left: 10px;
}

.middle-ad-i {
	background-color: red;
}

.middle-ad-p {
	margin-left: 508px;
	background-color: rgb(28, 165, 252);
	width: 68px;
	margin-top: 2px;
	height: 20px;
}

.ad-a {
	text-decoration: none;
}

.left-nav ul {
	list-style: none;
}

.left-nav ul li {
	display: inline-block;
	text-align: center;
	float: left;
	font-size: 18px;
	width: 90px;
	margin-left: -13px;
	margin-top: 14px;
	height: 48px;
	border-left: 1px rgb(231, 231, 231) solid;
}

.left-nav ul li span {
	line-height: 34px;
}

.left-nav ul li a {
	text-decoration: none;
	color: #000000;
}

.left-nav ul li a:hover {
	text-decoration: underline;
}

.left-nav1 {
	width: 289px;
	height: 90px;
	background-color: white;
	position: relative;
	top: 63px;
}

.top {
	height: 45px;
	width: 289px;
	background-color: rgb(245, 245, 245);
}

.bottom {
	height: 45px;
	width: 289px;
}

.top-span {
	font-size: 20px;
	font-weight: 1200;
	line-height: 42px;
	margin-left: 10px;
}

.bottom-span {
	font-size: 13px;
	line-height: 43px;
	margin-left: 20px;
}

.bottom-img {
	position: relative;
	left: 20px;
	top: 8px;
}

.right-content {
	width: 613px;
	height: 50px;
	background-color: white;
	margin-left: 307px;
	margin-top: -152px;
}

.right-content a {
	display: block;
	text-align: center;
	padding: 11px 0;
	font-size: 14px;
	text-decoration: none;
	color: #295c9d;
}

.ui-icon-sp-imgwall,
.txt {
	vertical-align: middle;
	text-align: center;
}

.ui-icon-sp-imgwall {
	background: url(../img/all-center1.png);
	background-size: 154px 880px;
	background-position: -84px -66px;
	padding-left: 20px;
}
.ui-icon-sp-iw-qmark{
	background-image: url(../img/all-center1.png);
	background-size: 154px 880px;
	background-position: -84px -50px;
	padding-left: 16px;
	margin-left: 10px;
	padding-top: 1px;
}
.btn-iw-qmark{
	position: absolute;
	left: 855px;
	top: 32px;
}
.hd{
	background-color: rgba(245,245,245,1);
	border-radius: 3px 3px 0 0;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px #e7e7e7 solid;
	width: 290px;
}
.h3{
	margin-left: 10px;
	font-size: 15px;
	font-weight: bold;
}
.bd{
	padding: 0;
}
.bd ul{
	list-style: none;
}
.nickname{
	margin: -8px 0 0 -37px;
	position: relative;
	float: left;
	display: inline;
}
.nickname1{
	margin: -8px 0 0 7px;
	position: relative;
	float: left;
	display: inline;
}
.nickname2{
	margin: -90px 0 0 156px;
	position: relative;
	float: left;
	display: inline;
}
.nickname3{
	margin: 5px 0 0 -37px;
	position: relative;
	float: left;
	display: inline;
}
.nickname4{
	margin: 5px 0 0 7px;
	position: relative;
	float: left;
	display: inline;
}
.nickname5{
	margin: -90px 0 0 156px;
	position: relative;
	float: left;
	display: inline;
}
.nickname6{
	margin: 5px 0 0 -37px;
	position: relative;
	float: left;
	display: inline;
}
.nickname7{
	margin: 5px 0 0 7px;
	position: relative;
	float: left;
	display: inline;
}
.nickname8{
	margin: -90px 0 0 156px;
	position: relative;
	float: left;
	display: inline;
}
.visitor-link q_namecard{
	display: block;
	width: 90px;
	height: 90px;
	position: relative;
}
.user-avatar{
	width: 90px;
	height: 90px;
	display: block;
	border: 0;
}
.visitor-name-bg{
	background-image: linear-gradient(to bottom,transparent,rgba(0,0,0,.7));
	bottom: 0;
	color: #fff;
	left: 0;
	padding: 5px 0;
	position: absolute;
	width: 100%;
	word-wrap: break-word;
}
.visitor-name textoverflow{
	display: block;
	margin: 0 5px;
	width: 80px;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}
.inner{
	background-color: rgba(255,255,255,1);
	border-radius: 3px;
	/* border: 1px #e6e6e6 solid; */
}
.big_inner{
	margin-top: 18px;
	height: 364px;
	background-color: white;
}
.personal-qzone {
	background-color: rgb(228, 228, 228);
	width: 100%;
	height: 637px;
	margin-top: 47px;
	position: relative;
}
.lookmore{
	/* background-color: red; */
	width: 80px;
	height: 29px;
	margin-top: 294px;
	margin-left: 10px;
}
.lookmore a{
	padding-top: 10px;
	line-height: 31px;
	text-decoration: none;
	font-size: 14px;
	color: blue;
}