.wrapper {
	width: 100%;
	height: 538vw;
	/* background-color: greenyellow; */
}

.mode-header {
	/* 标题栏,包括logo和logo旁边的链接 */
	/* background-color: aqua; */
	/* width: 945.6px; */
	width: 61%;
	/* height: 55.98px; */
	height: 0.5%;
	margin: auto; /* 使整个容器居中 */
	/* background-color: aquamarine; */
}

.logo-mobile-img {
	/* 标题栏的logo */
	height: 100%;
	/* width: 264px; */
	padding-top: 0px;
}

.mode-header_logo {
	/* height: 40px;
	width: 513.3px;
	top: 8px;
	position: absolute; */
	/* vertical-align: middle; */
	/* vertical意为“垂直”，使图像垂直方向居中，是middle，不是center */
	/* 好像在div容器里不起作用 */
	width: 50%;
	height: 100%;
}

.mode-header_link {
	/* left: 908.3px;
	position: absolute;
	width: 331.267px;
	height: 21.6px;
	top: 25px;
	position: absolute; */
	/* 此距离是相对于父容器的最左边的距离,这就是绝对定位,absolute */
	width: 40%;
	margin-left: 60%;
	margin-top: -2vw;
}

.mode-header_link-a {
	padding-left: 20px;
}

.mode-banner{
	margin: auto;
	width: 100%;
	height: 704px;
}
.background-img {
	/* width: 1536px;
	height: 704px; */
	width: 100%;
}

.customer-service { /* 人工客服的容器 */
	top: 54%;
	left: 93%;
	position: fixed;
	width: 68px;
	height: 92px;
	background: url(/images/service_pc.png);
	background-size: 100% 100%;
}

.modules {
	margin: auto;
	width: 79.6%; /* 尤其是宽度要用百分数表示 */
	height: 7487.23px;
	/* 	background-color: #FF0000; */
}

.section-study-idea {
	width: 76.4%;
	height: 861px;
	/* 	background-color: aqua; */
	top: 0.7%;
	position: relative;
	margin: auto;/* 使整个容器居中 */
}

.one-one {
	background:url(/images/pc_title-bg.png);
	width: 87.5%;
	height: 113px;
	/* text-align: center; 只适用于行级单位,会自动换行的那种 */
	margin: auto;
	background-size: 95%; /* 放缩背景图片的大小 */
}

.study-idea-span {
	font-size: 48px;
	display: inline-block;
	margin-left: 226px;
	margin-top: 30px;
}
.one-two{
	margin: auto;
	width: 87.4%;
	height: 48px;
}
.mark1{ /* "" */
	font-size: 31px;
	color: yellow;
	margin-left: 215px;
}
.text{
	font-size: 25px;
}
.mark2{
	font-size: 31px;
	color: yellow;
}
.four-circle{
	width: 100%;
}
.one-three{
	height: 218px;
	width: 80%;
	margin:auto;
}
.one-four{
	height: 410px;
	width: 102%;
	position: absolute;
	top: 351px;
	overflow: hidden;
}
/* 改变小容器的大小,大容器不会变,反之,则变;上面一个和下面三个缺一不可 */
.one-four-showimage{
	height: 1887px;
	width: 103%;
	position: absolute;
	top: -14px;
	animation:lb 10s infinite;
}
@keyframes lb{
0{
	margin-top:0px
}
33%{
	margin-top: -410px;
}
66%{
	margin-top: -880px;
}
100%{
	margin-top: -1351px
}
}
.one-four-img{
	height: 1865px;
	width: 102%;
}